[2018-10-05 12:17] magland opened #18 "Proposal: RX.addEpoch(name, start_frame, end_frame)"
Here's a proposal for a new method in RecordingExtractor (and perhaps this can serve as a template for proposing modifications to spikeinterface)

Proposed actions:
* getEpochNames and getEpochInfo are no longer overloaded by subclass
* add method: addEpoch(epoch_name, start_frame, end_frame)
* RecordingExtractor would keep track of the epochs internally
* Modify MultiRecordingExtractor to use the

[2018-10-08 09:17] colehurwitz31 commented on #18
I agree with this, I can put this in to the main class. So the main class will currently have:

- addEpoch(epoch_name, start_frame, end_frame)
- getEpoch(epoch_name)

I still think we need two more functions, however, to make this complete:

- removeEpoch(epoch_name)
- getEpochs()

The reason for removeEpoch is if you set epochs that you no longer care about later, it should be easy to remove them

[2018-10-08 12:15] magland commented on #18
I agree with removeEpoch. But rather than getEpochs, I think it is better to do:
getEpochNames() -- returns a list of epoch names
getEpoch(name) -- returns the dict containing start_frame and end_frame fields

[2018-10-08 12:18] colehurwitz31 commented on #18
I was thinking that getEpochInformation or getEpochs could allow the user to see which epochs are overlapping or what current epoch ranges they have. If you only have getEpochNames, then you have to get the names and then get each epoch to see how they look which would be cumbersome.

[2018-10-08 12:21] magland commented on #18
Yes it may be cumbersome, but I have learned to program APIs such that there is one and only one way of doing each thing -- and then there can be convenience functions. But having multiple ways to retrieve the same information can be problematic -- and requires more complicated testing.

Also, maybe getEpochInfo is better than getEpoch for retrieving the dict of a single epoch.

[2018-10-08 12:55] colehurwitz31 commented on #18
Ok, I agree with what you are saying. So the functions we could have are:

- addEpoch(epoch_name, start_frame, end_frame)
- getEpoch(epoch_name) --> returns SubRecordingExtractor
- getEpochNames() --> returns list of names

Could getEpochNames be changed to getEpochInfo which returns a dictionary of names and frames?

[2018-10-08 13:16] magland opened #20 "Proposal: getSnippets"
Change

[code]

to

[code]
or something in order to accommodate asymmetric snippets.

[2018-10-08 13:42] magland commented on #18
I think it should be

getEpochInfo(name)

which returns the dict for just that one epoch.

[2018-10-08 13:44] colehurwitz31 commented on #18
Sounds good. I can try implementing that then.

[2018-10-08 16:00] alejoe91 commented on #20
@magland I agree

[2018-10-08 16:01] alejoe91 opened #21 "write write functions of mearec extractors"
- for testing
- to accomodate changes in format

[2018-10-08 16:01] alejoe91 opened #22 "implement KiloSortSortingExtractor"

[2018-10-08 16:01] alejoe91 opened #23 "implement KlustaSortingExtractor"

[2018-10-08 16:02] alejoe91 opened #24 "implement SpykingCircusSortingExtractor"

[2018-10-08 16:02] alejoe91 opened #25 "implement IronclustSortingExtractor"

[2018-10-08 16:03] alejoe91 opened #26 "implement OpenEphysRecordingExtractor"
- use pyopenephys (https://github.com/CINPLA/py-open-ephys)

[2018-10-09 12:20] colehurwitz31 opened #27 "getStartFrame, getEndFrame for SubRecordingExtractor"
I think it would be valuable for the SubRecordingExtractor to have this functionality.

[2018-10-09 12:27] magland commented on #20
@colehurwitz31 . This should be done soon so that we don't need to adjust too much of the tools that use the API.

[2018-10-09 12:28] magland commented on #20
@colehurwitz31. I assigned this to myself.

[2018-10-09 12:57] colehurwitz31 commented on #18
If I construct a SubRecordingExtractor manually and get it an epoch name, should the RecoringExtractor store that epoch name/info?

Also, should we let epochs specify which channels it is tracking?

[2018-10-09 12:58] colehurwitz31 commented on #27
I think it makes sense for the SubRecordingExtractor to return all the details that were put in the initialization like epoch_name and channel_ids since I may want to check what I set earlier. I don't think it would be that confusing

[2018-10-09 13:00] magland commented on #18
For second question, i think epochs are related to time, so I would say no.

In general, I don't think subrecordings need to be aware of where they came from, because that info can be kept track of by the program that is using the API.

For example:

X=Y.getEpoch('some_name')

Then if later I wanted to know the start and end frames:

Y.getEpochInfo('some_name')['start_frame']

See, it doesn't need

[2018-10-09 13:03] magland commented on #27
I think I disagree. It's like if you crop an image and store it as a new .jpg... you don't need to store with that cropped image where it came from. That would get too confusing, because you may crop an image that was already cropped from a different image. It's better to keep track of that information elsewhere. (See my comment on the other issue).

[2018-10-09 13:04] colehurwitz31 commented on #18
So would have:

-   addEpoch(epoch_name, start_frame, end_frame)
-   getEpoch(epoch_name) --> returns SubRecordingExtractor
-   getEpochInfo() --> returns dictionary of all epochs which has 'epoch_name': (start_frame, end_frame)

[2018-10-09 13:05] magland commented on #18
Yes, but I think there should be only one epoch which has a given name. So I'm confused by the phrase "all epochs".

[2018-10-09 13:07] colehurwitz31 commented on #18
Currently, I am storing one dictionary that has all epoch_names as keys and each item is a key and tuple of start and end frames. I can return that whole dictionary so the user can get the names and start and end frames for their epochs.

[2018-10-09 13:07] colehurwitz31 commented on #18
Could you also explain this code:
[code]

[2018-10-09 13:10] magland commented on #18
This is in the constructor of the SubRecordingExtractor right?

If the user has specified an epoch name, then we get the info in the parent extractor for that epoch name... and use that start time and end time. But if the user also specified a start_frame and/or end_frame (in addition to epoch_name), then we assume they are requesting a start_frame and end_frame relative to the epoch.

[2018-10-09 13:12] magland commented on #18
I don't think it is a good idea to return that dictionary. That's the internal way you store it, but should not be exposed in the API.

[2018-10-09 13:12] magland commented on #18
oh i see... I misunderstood the above.... it should be
getEpochInfo(epoch_name)

which returns the epoch info just for that epoch.

[2018-10-09 13:13] magland commented on #18
And it should return a dict:
{
  'start_frame':[the-start-frame],
  'end_frame':[the-end-frame]
}

[2018-10-09 13:15] colehurwitz31 commented on #18
I was thinking it could return a copy of the internal dictionary since that is the easiest way to return all names and frame information.  I would rather return all the info otherwise we would need a getEpochNames so that they could figure out which epochs they have set.

Also, I was wondering if we should remove all references to epochs in the SubRecordingExtractor. I don't think that a user shou

[2018-10-09 13:16] colehurwitz31 commented on #18
Currently, the SubRecordingExtractor never uses the epoch_name and I think initializing with an epoch_name that only checks for the epoch name in the parent extractor is confusing since I may just want to name my SubRecordingExtractor and when I set epoch_name it doesn't do anything and I can't return the name

[2018-10-09 13:18] magland commented on #18
I agree with your second point.

Regarding the first, it is important not to expose the internal structure of how all epochs are stored. There are various reasons for that and it is better to have a getEpochNames() function. I can give more details if you want. It comes from clean api design principles.

[2018-10-09 13:44] colehurwitz31 commented on #20
I can do this now and upload it with my epoch changes unless you are already done

[2018-10-09 13:44] #27 closed

[2018-10-09 13:44] magland commented on #20
I haven't worked on it yet, so you can go ahead. Thx!

[2018-10-09 13:57] colehurwitz31 opened #28 "Unit Tests insufficient for getSnippets and getTraces"
Currently, the unit tests only check if the getSnippets and getTraces functions are equal for two recording extractors. However, the functionality could be the same for both, but still be wrong. I think I just removed a bug from getSnippets which was not being caught since the core implementation was wrong for buffering near the ends of files.

[2018-10-09 13:59] colehurwitz31 commented on #28
Or at least the getSnippets test is insufficient as the previous code should not have been working for end of file issues.

I just changed:

[code]

to:

[code]

[2018-10-09 14:04] magland commented on #28
Nice catch. For this reason, I have a test called test_example which makes sure that the example dataset itself is working, but I think that it did not include getSnippets or getRaw test. We'll need to make sure we cover all the bases in the test_example.

[2018-10-09 14:06] colehurwitz31 commented on #28
Yes, I agree. Would you like to work on the test_example or are you currently working on something else? I am working on the getUnitProperty issue currently. Trying to get all SpikeInterface issues solved today so that I can begin writing about SpikeInterface

[2018-10-09 14:06] colehurwitz31 commented on #28
(Not including subclasses since those will take a while and are separate from the core of SpikeInterface.

[2018-10-09 14:08] colehurwitz31 opened #29 "SubSortingExtractor and MultiSortingExtractor -- Dealing with num_frames and other info"
I can't remember if we came up for a solution for this, but currently the SubSortingExtractor and MultiSortingExtractor are non-functional and having RecordingExtractors being passed in for information for the recording.

[2018-10-09 14:09] magland commented on #28
Yes, I will work on the unit tests. First I am trying to finalize MountainSort alg using spikeinterface.

[2018-10-09 14:10] magland commented on #29
non-functional? what do you mean by that?

[2018-10-09 14:16] colehurwitz31 commented on #29
Whoops, I actually fixed the issue of the SubSortingExtractor not working earlier (its parent extractor was calling both Recording and Sorting extractor functions)

I think they are both functional, but untested. Also, did we have a solution for the MultiSortingExtractor not having RecordingExtractors added to it since the SubRecordingExtractor does not have a RecoringExtractor?

[2018-10-09 14:19] colehurwitz31 commented on #18
Current implemenation:
[code]

I think this is about right
[code]

[2018-10-09 14:20] magland commented on #29
There is a `test_multi_sub_extractor`, so I think it is tested at least to some extent.

I don't understand your question: `did we have a solution for the MultiSortingExtractor not having RecordingExtractors added to it since the SubRecordingExtractor does not have a RecoringExtractor?` could you please explain a bit more?

[2018-10-09 14:21] colehurwitz31 commented on #18
The formatting gets a bit screwed up in the markdown (the paragraphs are off)

[2018-10-09 14:29] magland commented on #29
First of all, there is something troubling me about this. I don't think SubSortingExtractor should have total_recording_frames.

[2018-10-09 14:37] colehurwitz31 commented on #29
I thought we agreed that we didn't want RecordingExtractors being passed into SortingExtractors. We wanted a way to pass in the frames that a SortingExtractor encapsulated for different analysis and plotting

[2018-10-09 14:38] colehurwitz31 commented on #29
I thought we agreed to that so I implemented SubSortingExtractor with frames passed in rather than a RecordingExtractor. I made a pull request with it, but maybe I forgot to talk about that change in my summary

[2018-10-09 14:39] colehurwitz31 commented on #18
Done! I also made separate checks to make sure epoch names are strings throughout with value errors if not.

The getEpochInfo usage was clever!

[2018-10-09 14:46] colehurwitz31 opened #30 "getUnitSpikeTrain in NumpySortingExtractor and MDASortingExtractor return ints and floats respectively."
It looks like MDASortingExtractor is returning a numpy array of floats (although frames should be ints)

[2018-10-09 14:47] colehurwitz31 commented on #30
This can be checked for with static typing which I aim to do this week

[2018-10-09 14:49] magland commented on #30
Actually, I think it should return floats, since we can have events at times that don't line up with the time grid. This can happen, for example, if we upsample to get more precise detection.

[2018-10-09 14:52] colehurwitz31 commented on #30
I thought getunitSpikeTrains always returned frames which would not have any decimal values?

[2018-10-09 14:55] magland commented on #29
Okay I remember. But there is still something bothering me about it in the context of SubSortingExtractor. Could you give me call on hangouts when you have a chance and we can discuss?

[2018-10-09 14:56] magland commented on #30
It is units of frames, but you could have an event that occurs between two timepoints (timeframes), if the detection precision is greater than the sampling rate.

[2018-10-09 14:59] colehurwitz31 commented on #30
I see. So that is why getSnippets has integer wrappers around the center frames... that makes sense I guess. I find the concept of frames having decimal values to be confusing, but I understand the use case. So then NumpySortingExtractor should probably be updated to floats.

[2018-10-09 15:00] magland commented on #30
Yeah, we do use this sometimes.

[2018-10-09 15:02] colehurwitz31 commented on #30
Ok, so we should make sure all extractors do what MDASortingExtractor does

[2018-10-09 15:27] colehurwitz31 commented on #18
I actually just realized it should probably return epochs in chronological order. So sort by earliest start_frame

[2018-10-09 15:28] magland commented on #18
Yes, that's better.

[2018-10-10 14:57] colehurwitz31 opened #32 "Example notebooks broken"
Except for getting_started_with_recording_extractors and getting_started_with_sorting_extractors, the current example notebooks we have either are not updated or require data that isn't available.

For anyone who made a specific example for a file type, could you either update or remove the example?

[2018-10-10 15:52] colehurwitz31 commented on #32
The biocam and mearec examples are broken specifically so I assigned Alessio and Matthias to this issue. We will probably remove these examples anyway.

[2018-10-10 16:10] #20 closed

[2018-10-10 16:11] #18 closed

[2018-10-10 18:01] magland opened #33 "Proposal: setChannelProperty/getChannelProperty rather than getChannelInfo"
In RecordingExtractor, some methods are overridable (expected to be overwritten in a subclass), and some are not. There are at least two reasons to make a method overwritable. But I think in the case of getChannelInfo, neither one of them apply. Therefore, to conform with the getUnitProperty/setUnitProperty method of SortingExtractor, I propose we replace getChannelInfo by

setChannelProperty(prop

[2018-10-10 18:02] magland commented on #33
Note that setChannelProperty will often be called in the constructor of the subclass, just like addEpoch is called in the MultiRecordingExtractor

[2018-10-10 18:09] magland opened #34 "Proposal: getUnitSpikeFeatures(name, unit_id, start_frame, end_frame)"
The getUnitProperty() method is great. However, for large recordings, and for compatibility with getUnitSpikeTrain, we will need an alternative that parallels the getUnitSpikeTrain, in that it can efficiently retrieve data for a range, start_frame, end_frame.

I propose to make getUnitSpikeFeatures, which is overridable in subclasses and has the same interface as getUnitSpikeTrain() (plus the feat

[2018-10-10 18:13] colehurwitz31 commented on #34
Possible confusion with this method is that I may have features that are dependent on the channel. For example, I may detect 4 waveforms for one spike and then extract PCA features from each channel and cluster.

I am not sure how we can work that in

[2018-10-10 18:16] colehurwitz31 commented on #33
Same implementation and naming scheme as the unit property then?

[2018-10-10 18:48] magland commented on #34
True... we can think about it.

[2018-10-10 19:04] alejoe91 commented on #33
I agree too

[2018-10-10 20:46] magland opened #35 "Proposal: getSnippets -- replace snippet_len_before and snippet_len_after"
snippet_len_before and snippet_len_after is cumbersome, I'd rather just have

snippet_len

which would be a single integer, with the option of passing in a 2-vector, which would represent the [len_before, len_after]

[2018-10-11 10:35] colehurwitz31 commented on #35
So how would this be implemented in the arguments?

[2018-10-11 12:04] colehurwitz31 commented on #35
Ok. That looks alright. I can do that on the Cole branch today and change the unit tests.

[2018-10-11 15:09] colehurwitz31 commented on #35
I think snippet_offset can be added or subtracted from the reference frame before being passed into get snippets. So we should just keep reference frames and have the user pass in: spike_peaks - offset if they want.

[2018-10-11 15:16] mhhennig commented on #35
Yes, good point!

[2018-10-11 21:26] magland opened #40 "Update getChannelInfo to getChannelProperty everywhere"
Also implement getChannelPropertyNames()

[2018-10-11 21:27] #25 closed

[2018-10-12 13:59] #35 closed

[2018-10-12 13:59] #33 closed

[2018-10-12 14:00] #29 closed

[2018-10-15 15:49] colehurwitz31 opened #43 "Argument and file name standardization for the tools.py file"
So the argument name for a bunch of functions in the recording extractor in the tools.py file is 'recording'. I think this should be changed to 'recording_extractor' since that is consistent with the rest of the repo.
I also think it is confusing to have 'recording' be an extractor rather than a file.

Also, should we call this a tools file? It only seems to deal with probe information so I would

[2018-10-15 15:57] colehurwitz31 commented on #43
I will change these for now and create a pull request

[2018-10-15 16:00] colehurwitz31 opened #44 "Unit tests for the tools.py file"
Needs unit tests if we have a way of creating those to make sure it is working as intended.

[2018-10-15 18:59] alejoe91 commented on #43
@colehurwitz31 can we close this?

[2018-10-15 18:59] #43 closed

[2018-10-15 20:28] alejoe91 commented on #32
mearec is fixed 01a293daf06eaab9eb7c5f117d93e7f536c9a788

[2018-10-16 09:44] alejoe91 commented on #40
@magland can I close this?

[2018-10-16 09:45] alejoe91 commented on #44
https://github.com/colehurwitz31/spikeinterface/pull/47

[2018-10-16 09:45] magland commented on #40
yes. Closing.

[2018-10-16 09:45] #40 closed

[2018-10-16 09:58] colehurwitz31 commented on #32
I'm going to remove the biocam example before release if it still doesn't work

[2018-10-20 10:18] #22 closed

[2018-10-20 10:19] #23 closed

[2018-10-20 10:19] #24 closed

[2018-10-20 10:20] alejoe91 opened #52 "implement PhySortingExtractor"
import sorting after manual curation.
Should comply with thiis format:

https://phy-contrib.readthedocs.io/en/latest/template-gui/#installation

[2018-10-21 14:15] colehurwitz31 opened #54 "MEArec notebook bug"
So when I run the demo_mearec_extractors, it appears to have an issues:

[code]
--> 234     return rec_dict, info
"local variable 'info' referenced before assignment"
Is that an issue on my end or in the extractor Alessio?

[2018-10-21 14:36] alejoe91 commented on #54
In which line @colehurwitz31 ? I mean in the noetebook

[2018-10-21 14:48] #54 closed

[2018-10-24 13:49] #34 closed

[2018-10-24 13:49] #30 closed

[2018-10-24 13:49] #28 closed

[2018-10-24 13:50] #26 closed

[2018-10-24 15:23] alejoe91 opened #55 "deal with channel map"
the probe file can also provide a channel map, i.e. how the channels should be reordered (for example in a linear probe) to match the linear geometry.
I think that in the recording extractor we could have a self._channel_map which is None by default, and if a channel map is present, then `getTraces` returns:

[code]

the channel map can be loaded from the probe file using the loadProbeFile functio

[2018-10-24 15:28] alejoe91 commented on #55
alternatively, we could have a `remapChannels()` function, that reorders the channels..but that would not allow for memory mapping..
My soution would be having a  `_getTraces()` as abstract method, and then implementing in RecordingExtractor:
[code]

[2018-10-24 15:57] colehurwitz31 commented on #55
I am not sure this is necessary and would be problematic (for example, if I specify channel ids in getTraces, would the channel map change?)

[2018-10-24 16:15] alejoe91 commented on #55
I believe it is necessary. I'm actually finding troubles now because we are using a probe with a screwed up channel map, and it would be great to adjust it before spike sorting. Channel_ids should then be just linear in my opinion:
assume you have 4 channels, `self._channel_map` could be `[3, 1, 0, 2]`
then `getTraces(channel_id=[0, 1])` would return the original channel 3, 1

[2018-10-24 16:52] colehurwitz31 commented on #55
channel_map could be a good variable to have then. It sounds useful. @magland ?

[2018-10-24 20:09] magland commented on #55
I think self._channel_map breaks the discipline we have achieved thus far. I think this should rather be an input to the load probe function. The important thing is that the channel_id corresponds with the channels in the recording. Thus the channel ids should be modified from the original probe if needed. If you want to retain information about the original channel id, then that can be a channel

[2018-10-25 00:07] colehurwitz31 commented on #55
Agreed. That makes good senses. The probe functions can make the channel ids match our convention.

[2018-10-25 06:29] alejoe91 commented on #55
@magland Why is it breaking the discipline? I think it could actually be very useful.

*I think this should rather be an input to the load probe function. The important thing is that the channel_id corresponds with the channels in the recording. Thus the channel ids should be modified from the original probe if needed. If you want to retain information about the original channel id, then that can

[2018-10-25 07:44] colehurwitz31 commented on #55
I think Jeremy is saying that we always return channels in the way we defined. However, if a probe is supposed to be visualised in a different order, you can make a dictionary or something that maps the returned channel ids to the correct channels for visualisation.

So you can return 0 - 384 channels for some arbitrary probe, but then 0 —> 10, 1 —> 20, 2 —> 30, etc.

[2018-10-25 08:10] alejoe91 commented on #55
the problem is that channels are not defined. we only have a `getNumChannels` and assume that they are from 0 to `getNumChannels` - 1.

I think that the `getChannelIds` could be a good solution, as it does not require the user to manually map the channels all the times and it's at the user's discretion tu use the channel map (`getChannelIds`) or not. What do you guys think?

[2018-10-25 11:58] magland commented on #55
I was suggesting that we use the getChannelProperty for this. For example

getChannelProperty(channel_id=1, property_name='order')

But maybe getChannelIds() could work. Certainly easier for the widget development side. But to be more clear on what it is, I would maybe suggest:

getChannelOrdering()

which by default returns [0,1,2,3,...,M-1]

but can return a different ordering. How does that sou

[2018-10-25 12:03] alejoe91 commented on #55
Yep could work.
Regarding the naming, I personally like `getChannelIds()` for 2 reasons:
- as counterpart to `getUnitIds()`.
- We are going to be using it a lot so a few less characters are welcome :)

Also, thign about how many times in spiketoolkit we need `range(recording.getNumChannels())`: that would become: `recording.getChannelIds()`

[2018-10-25 14:37] colehurwitz31 commented on #55
I keep flip-flopping, but Alessio's idea seems good.

If we implement getChannelIds() and have a default map equal to (0 - num_channels), that map can be set and get later.

[2018-10-25 14:50] alejoe91 commented on #55
@magland if you agree, I would suggest to have a `self._channel_ids` that is None by default (in that case `getChannelIds()` would return `list(range(recording.getNumChannels()))` and can be overwritten by `loadProbeInformation`

[2018-10-25 14:52] colehurwitz31 commented on #55
Might as well have self._channel_ids be range*0,  num_channels) by default.

[2018-10-25 15:04] alejoe91 commented on #55
no because you don't know the number of channels by default and self._channel_ids must be instantiated. So I would say that the developer of an extractor  does not need to set it to range(0, num_channels), and getChannelIds can check if it's not None

[2018-10-25 15:13] colehurwitz31 commented on #55
getNumChannels is an abstract method so we would know the number of channels beforehand

[2018-10-25 15:20] alejoe91 commented on #55
Can you `self._channel_ids = list(range(self.getNumChannel()))` in the `RecordingExtractor` init?

[2018-10-25 16:03] colehurwitz31 commented on #55
So getNumChannels can be run in init, although there is an issue with the numpy extractors because they set all the data values and channel information after initialization... all the other extractors should be fine though.

[2018-10-25 16:11] colehurwitz31 commented on #55
Maybe we can have channel_ids be None until it is either set (setChannelids) or if getChannelIds is called and it is None then we can call getNumChannels and set channel ids.

[2018-10-25 18:02] magland commented on #55
didn't follow the whole discussion, but I think I'm now on board with getChannelIds()
by default it should give [0,...,M-1]

[2018-10-25 18:09] alejoe91 commented on #55
should w ehave a `setChannelIds()` too to set the channel map?

[2018-10-26 00:15] magland commented on #55
Yes, I think that setChannelIds() would be the mechanism for setting this. And the implementation should verify that the list sent to it is of length getNumChannels() and that it includes each channel id exactly once. Right?

[2018-10-26 06:49] alejoe91 commented on #55
@magland @colehurwitz31  Yep getChannelIds and setChannelIds. Not sure if we should verify the permutation thing. Some devices also load adc signals and other external stuff. Myabe we should verify that channel:ids is a subset of range(getNumChannels()).

[2018-10-26 08:28] magland commented on #55
Something about getChannelIds and setChannelIds still makes me nervous, and partly because I am having a hard time wrapping my head around it.

One thought... could this all be handled using SubRecordingExtractor? Just put in channel_ids=[1,0,3,2,5,4], or example, in the constructor of SubRecordingExtractor, and we have achieved a new ordering. Also, this way we can exclude channels. This might be

[2018-10-26 10:00] colehurwitz31 commented on #55
SubRecordingExtractor can definitely work for changing the channel order.

I think we need to see how widely people will want to be using this function. If for every probe, people want to return the getTraces in different orders, then we probably want to handle that in RecordingExtractor rather than making people make a RecordingExtractor and then a SubRecordingExtractor.

I am not sure that getCh

[2018-10-26 11:35] magland commented on #55
I have a better idea of why I feel uneasy about this... Let's consider a case where we have 8 channels.

R.getNumChannels() is implemented by the subclass. Therefore, it cannot be changed by the parent class. It will always be 8. So, if you do R.setChannelIds([0,2,6,4]), you will have a mismatch between len(R.getChannelIds()) and R.getNumChannels().

But I can see that selecting a subset of channe

[2018-10-26 11:44] magland commented on #55
(continued) if we do decide to make the above change, then we can

[2018-10-26 11:45] magland commented on #55
(oops, accidentally closed the issue -- reopening)

[2018-10-26 13:35] alejoe91 commented on #55
I would leave getNumChannels() too, but generally I'm ok with the idea. In that case loadProbeInfo would return a recording extractor. Ok?

[2018-10-26 13:40] colehurwitz31 commented on #55
I don't think there is a need for getNumChannels if we have getChannelIds since the length of that list should be the number of channels. I can implement this and push if we agree.

[2018-10-26 13:43] magland commented on #55
Sounds good. This will be nice because getChannelIds() will match with getUnitIds(). After you implement, I can help update all the code to conform.

[2018-10-26 14:07] alejoe91 commented on #55
@colehurwitz31 I know there is no need but I think `getNumChannel()` is very useful :) on the same page I would recommend adding a `getNumUnits()` in the Sorting Extractor

[2018-10-26 14:30] magland commented on #55
@alejoe91. I agree that this would be useful. But here's the danger... somebody might do:

[code]

This would work for most cases, but then would unexpectedly fail when the channel order was non-trivial. So we should think about this carefully before making that decision.

[2018-10-26 14:35] colehurwitz31 commented on #55
Another issue is that getTraces has the channel_ids argument. As long as we have some internal channel_ids variable, should the channel_ids argument order not matter?

[2018-10-26 14:36] colehurwitz31 commented on #55
Could we just the channel_ids argument figure out the order that we return traces?

[code]

[2018-10-26 17:19] alejoe91 commented on #55
Yeah I think that the behavior then should be the same as units in sorting extractor, in which when we use `getUnitSpikeTrain()` we give the unit id.

[2018-10-27 08:17] alejoe91 commented on #55
Ok, so @colehurwitz31 you do the channelIds? I'll update the loadProbeInfo

[2018-10-27 09:18] alejoe91 commented on #55
Actually @colehurwitz31 and @magland I made an initiall attempt to solve the problem and will make PR.
I kept the getNumChannels for the moment.

[2018-10-27 09:50] alejoe91 commented on #55
https://github.com/colehurwitz31/spikeinterface/pull/57

[2018-10-30 12:53] #55 closed

[2018-11-05 10:53] #52 closed

[2018-11-05 10:54] #32 closed

[2018-11-13 18:46] colehurwitz31 opened #62 "Sub and Multi Sorting Extractors need to copy over unit and spike properties"
As stated above, currently the unit and spike feature properties are not copied over from the original sorting extractors. We need to implement this

[2018-11-13 18:47] colehurwitz31 opened #63 "MultiRecordingExtractor needs to copy over channel properties from original recording extractors"
As stated above, channel properties need to be copied over correctly to the multirecordingextractor.

[2018-11-16 16:02] alejoe91 opened #64 "use dummy locations in loadProbeFile"
many sorters (ms4, kilosort) require channel location information. When not in the probe file (e.g. tetrode), add a dummy location ((0,0), (0,1), (0,2) or all (0,0)) for each channel group so that the spike sorters would run.

[2018-11-18 17:04] alejoe91 opened #65 "change name to spikeextractors"

[2018-11-26 11:46] #65 closed

[2018-11-26 11:47] colehurwitz31 commented on #64
That makes sense! Can you add that?

[2018-11-26 16:08] #64 closed

[2018-11-30 15:45] colehurwitz31 opened #68 "Implement Lazy Raw(Dat)RecordingExtractor"
Since we can convert to .dat files, it would be nice to have a recording extractor for them. Also, it can be lazy which is a nice bonus to using this extractor.

[2018-12-05 15:04] alejoe91 opened #69 "use Pathlib for path managements"

[2018-12-17 10:04] #69 closed

[2018-12-17 10:04] alejoe91 commented on #68
this is done in the new tag

[2018-12-17 10:04] #68 closed

[2018-12-17 10:36] alejoe91 commented on #62
@colehurwitz31 I believe this is done with copyChannelProperties(). Right?

[2018-12-17 10:37] alejoe91 commented on #63
@colehurwitz31 I believe this is done with copyChannelProperties(). Right?

[2018-12-17 10:47] colehurwitz31 commented on #63
Does it copy over all the passed in recording extractors properties upon initialisation? If so, then this issue can be closed

[2018-12-17 10:47] colehurwitz31 commented on #62
If it does this upon initialisation, then yes

[2019-01-28 11:34] colehurwitz31 opened #71 "Provenance within the extractors"
Built in data provenance. I will look into a good implementation of this.

[2019-02-08 09:06] samuelgarcia opened #74 "t_start concept should be introduced in RecordingExtractor"
In RecordingExtractor.frameToTime we have:
```time = frame / self.getSamplingFrequency()```
in neo we also introduced **t_start** with is the time of the first sample and so we have
```time = frame / sampling_rate + t_start```
even if t_start is moslty 0 and so the same case as here in some situtation it is very convienient for time serie manipulation to have it.

[2019-02-08 09:20] samuelgarcia opened #75 "Semantics about RecordingExtractor and MultiRecordingExtractor"
Semantically, what you call a "recording" is ONE continuous recording of a multi channel signals.
Symantically, in neo, we do not use "recording" because it can include many different concept.

For instance, in some case (Blacrock, Neuralynx or Axon systems ) a recording can contain some pauses. In that case, the multi channel signal recording is not continuous but contain gaps.
this is why we int

[2019-02-08 09:43] samuelgarcia opened #76 "Semantics alignedment with neo"
This is not really an issue but a general comments.

First, I have to say that I am very antousistast with this project.
This is really great this joint effort.
I plan to help for real.

The first impression (which is not a big issue) is the missalignement with the python-neo semantic.
Note that I am member of neo team (you are all welcome).

From what I anderstand, but maybe I missing some concep

[2019-02-08 09:50] #62 closed

[2019-02-08 09:50] #63 closed

[2019-02-08 17:04] colehurwitz31 commented on #76
Thanks for the comment and ideas.

We think the critical difference between NEO and SpikeInterface is that they attempt to solve different problems, which affects the implementation. NEO works with all electrophysiological files, loading them into memory and then creating an object-oriented representations of the data, making it more accessible for analysis. SpikeInterface only works with raw and

[2019-02-08 17:24] colehurwitz31 commented on #75
Hi Sam,

RecordingExtractors were designed to extract information from a _single file_ containing raw extracellular data. This covers most of the basic cases for raw data formats used in experimental labs. For a raw data format that has multiple pauses (but is contained in one file), a RecordingExtractor would be designed to read and deal with these pauses.

MultiRecordingExtractors allow for extr

[2019-02-08 17:48] colehurwitz31 commented on #74
Hey Sam,

I will look into this. As it is now, I think the start_frame/start_time of a recording is considered to be 0, so there isn't necessarily a need for a t_start object. Since everything is done with frames in our framework, RecordingExtractor.frameToTime just is a nice convenience function.

[2019-02-08 19:05] alejoe91 commented on #76
@samuelgarcia I think that we would like to keep SpikeExtractors as light-weight and easy to learn. In the beginning we discussed about using neo, but hen we opted to keep it as simple as possible, so that also experimental people with little coding bakcground can quickly access the data, run spike sorting, and check and validate the output (see [tutorials](https://github.com/SpikeInterface/spiket

[2019-02-08 19:11] alejoe91 commented on #75
@samuelgarcia
A RecordingExtractor is indeed a semantically similar to a segment, i.e. a single continuous recording. I agree we should add the possibility to combine multiple recordingextractors in a MultiRecordingExtractor with possibility of adding pauses. (In this case the MultiExtractors could be seen as Blocks)
An extra `start_frames` argument would do the trick (writing an issue about that)

[2019-02-08 19:14] alejoe91 opened #77 "Add `start_frames` to MultiExtractors"
In the MultiRecording and MultiSorting extractor, we should add a `start_frames` argument in the constructors to account for pauses.

This could also affect data retreival and in particular filtering.

[2019-02-11 11:30] samuelgarcia commented on #76
Hi all.
Thanks for anwsers.
I can try  to make this NeoExtractor. It should be easy in the standard case.

[2019-02-11 20:52] samuelgarcia opened #81 "dim for trace should be inverted."
In actual implementation, when you do a **getTraces()** you have 2D array with (n_chan, n_sample).

This is the intuituive choice BUT for big files this lead to bad performences.

The reverse (n_sample, n_chan) in conetxt of long recording could lead to better performence.

A natural device give sample stream in the (n_sample, n_chan) order.
So many system using raw binary format go for (n_sample,

[2019-02-12 11:36] colehurwitz31 commented on #81
Hi Sam,

Inverting the dimensions does seem like a good idea if the performance would be affected otherwise.

Seeing as getTraces is a core function or our framework, I’m gonna give it some thought with the other people on the team about how and when to implement this.

[2019-02-12 14:14] magland commented on #81
Hi Sam and Cole,
I am open to this possibility, but I want to point out that this could be an internal change (implementation) in how the data are stored internally for better performance -- without changing the API of recording extractors. Some formats will do it one way, and some will do it another -- the interface should be agnostic to that.
Jeremy

[2019-02-12 14:38] colehurwitz31 commented on #81
Hey Jeremy,

I am a bit confused about what you are suggesting. Are you saying that we can leave getTraces untouched, but change how data is stored when we extract it?

Cole

[2019-02-12 14:42] magland commented on #81
Yes. The point of an interface is that it abstracts away how data is handled internally. It seems against the philosophy of such a layer to modify it based on such implementation/efficiency optimization. IMO, it does not need to be changed in order to improve how data are stored.

[2019-02-12 14:46] alejoe91 commented on #81
@magland so how do we do it?

[2019-02-12 14:47] magland commented on #81
There are various recording extractors. They are considered on a case-by-case basis. Which one should we focus on first -- for this issue?

[2019-02-12 14:51] alejoe91 commented on #81
I see, basically changing the specific extractors representation and returning the transpose should work

[2019-02-12 14:53] magland commented on #81
Exactly. And numpy even has a way to specify the internal ordering of arrays. So you could either return a Fortran- or C-style ordering in the returned traces. For example, see: https://docs.scipy.org/doc/numpy-1.15.0/reference/generated/numpy.asfortranarray.html

[2019-02-12 14:55] magland commented on #81
So IMO, it's up to the individual extractors on how to do it efficiently. The interface is supposed to be able to  abstractly handle all kinds of formats and storage orders.

[2019-02-12 15:16] colehurwitz31 commented on #81
Sounds good. We can just focus on improving specific extractors then.

[2019-02-12 17:47] #81 closed

[2019-02-12 20:10] samuelgarcia commented on #81
Of course with with numpy we can do a ```transpose()``` which internally change the array [strides](http://www.jessicayung.com/numpy-arrays-memory-and-strides/).

The thing is that numpy by default is C order and if by default the getTraces() render (n_chan, n_sample) then by default internally a traces will have continuous samples in memory for each channel.

So by default, unless an internal tri

[2019-02-13 08:36] samuelgarcia opened #82 "What is the distance units for PRB in saveProbeFile ?"
In tridesclous and circus the PRB file at 'geometry'  units are supposed to micrometers. (this is not the case for klusta and kilosort I think)

The real dimension for probe is taken in account by theses two tools at least

Here with "toy_example1" the saveProbeFile give
[code]
this is non realistic and can lead to bad results.

Is there in this framework some convetion about the real dimension of

[2019-02-13 08:46] samuelgarcia opened #83 "BinDatRecordingExtractor should not rely on the fact the dtype is 'float32'"
Binary dataset are very often 'int16' or 'uint16'.

In BinDatRecordingExtractor the default dtype is 'float32'.

The dtype should be mandatory in any case without default value. It can lead to many deep and hard-to-errors, trust me.

Less important:
  * ```dtype == None``` should be ```dtype is None```
  * ```dtype=np.float32``` should be in the signature rather than in **if** because it is more e

[2019-02-13 11:35] colehurwitz31 commented on #83
I think that is a great point. I agree that we should make the dtype mandatory. I will fix that.

[2019-02-13 11:41] colehurwitz31 commented on #83
Fixed

[2019-02-13 11:41] #83 closed

[2019-02-13 11:50] colehurwitz31 commented on #82
Hi Sam,

I did not create that example, but I think that toy_example1 was designed as a quick/non-realistic way to show the features that spikeextractors and spikewidgets can do. In that regard, I think the geometry of this fake probe (created in synthesize_random_waveforms.py)  was just made for showing-off widgets rather than for being realistic.

To my knowledge, toy_example1 hasn't been used f

[2019-02-15 13:11] alejoe91 commented on #82
@samuelgarcia I can confirm that the units are in um. In klusta the units does not make a real difference as long as we are consistent with the adjacency radius, because the adiacency graph is computed from it. Also in kilosort I think that the units are in um.

[2019-02-15 13:12] alejoe91 opened #84 "rename toy_example1 --> toy_example"

[2019-02-15 14:48] colehurwitz31 opened #85 "Fix speed issues on Biocam extractor"
Biocam extractor extracts the traces for each channel before indexing the channel ids. When trying to fix this, I ran into a h5py bug. Will figure this out though.

[2019-02-15 15:06] samuelgarcia commented on #82
Ok thank you.

[2019-02-20 16:31] #82 closed

[2019-02-22 09:49] magland opened #87 "writing binary files -- need to explicitly state fortran or C order"
Internally, numpy can represent n-d arrays either in either Fortran (column major) or C (row major) format [see numpy docs](https://docs.scipy.org/doc/numpy-1.14.5/reference/generated/numpy.array.html). When an array is written out to file -- either using np.save() or file.write() -- you get different results depending on the internal representation. This is dangerous because sometimes an array is

[2019-02-22 10:25] alejoe91 commented on #87
I agree @magland
Can you do this?

[2019-02-22 11:02] colehurwitz31 commented on #84
Done

[2019-02-22 11:02] #84 closed

[2019-02-22 11:02] #75 closed

[2019-02-22 11:23] colehurwitz31 commented on #77
Are we sure that we want this? The issue with adding start_frames to MultiRecordingExtractors is that when it is passed to a spike sorter, then it will be a special case that the sorter has to deal with. If a MultiRecordingExtractor is a continuous recording, the sorter doesn't have to do anything different when analyzing a MultiRecordingExtractors.

We could have a function to sort by Epoch... ma

[2019-02-23 11:59] magland commented on #87
@alejoe91. I will assign myself, but I'd like to wait until things stabilize some more before making the change. Ideally there would just be one place to make the change, rather than having instances of writing to binary files in various places throughout.

[2019-02-28 11:16] magland opened #88 "separate out the extractors that cannot be verified via unit test"
I suggest that we make a subdirectory in extractors for those that are in progress -- meaning that they are not well-covered by unit tests. Perhaps the directory should be called "devel" and we explain that those are under development and should be used at ones own risk.

If you all agree I can undertake this task.

[2019-02-28 11:19] magland opened #89 "Installation instructions"
EDITED....

For development install, Is there a reason that we do "python setup.py install" rather than the more standard "pip install -e ."?

[2019-02-28 11:36] alejoe91 commented on #89
not really. you can change that!

[2019-02-28 11:36] alejoe91 commented on #88
so I think we have to find a better way to test extractors that do not have (and won't have a writeRecording). I would leave them there now. the tests could pull data form zenodo and load them.

What do you think?

[2019-02-28 14:50] magland commented on #88
Okay, i guess they don't need to have a unit test. But we should at least believe that they work. Some of them may not be in that category. For example nwb (not quite sure if there are others).

[2019-02-28 17:41] alejoe91 commented on #88
I think that for now we can comment out the nwb imports..
the other ones should be working

[2019-02-28 17:45] magland commented on #88
What I am proposing is that any extractor that may not be working (for example nwb) should be moved to a devel/ folder so that every extractor that's actually in the directory has our blessing, and is expected to work without much trouble.

[2019-02-28 17:46] #89 closed

[2019-02-28 17:51] alejoe91 commented on #88
I do have files for OpenEphys, Intan, MEArec, Exdir. Should we have a minimal example on Zenodo or something similar? I believe @mhhennig has biocam.

I'm ok in placing the nwbextracotr in a devel folder, or even make a dev branch for unfinished extractors

[2019-02-28 17:54] magland commented on #88
Sounds good. I think it would be very valuable having minimal examples of
each. Maybe first step is to put them on google drive or dropbox... unless
it is just as easy to put on zenodo (i haven't used it).

On Thu, Feb 28, 2019 at 12:51 PM Alessio Buccino <notifications@github.com>
wrote:

[2019-02-28 18:14] alejoe91 commented on #88
I think @samuelgarcia has used Zenodo before? We can try that out :)

[2019-03-01 07:36] samuelgarcia commented on #88
For neo, we settle a "gin" repo to put our data here
https://web.gin.g-node.org/NeuralEnsemble/ephy_testing_data

Gin a tools based on git + gitannex that is able to track (in git sens) big files.
Gin platform is github like, easy to create an account and easy to join project.

I would strongly suggest to use this gin for storing this files rather than google drive or dropbox.
I allow contribution

[2019-03-01 09:33] alejoe91 commented on #87
@magland

I'll try to modify spyking-circus to use .dat instead. Then we can just use the bindatrecordingextractor.

I think that the changes that you suggested can go in the numpy recording extractor only, and we have to make sure that everytime that we write npy we use that.

Do you agree?

[2019-03-01 10:43] samuelgarcia opened #91 "OpenEphysRecordingExtractor.getChannelIds force to load everythin in memory"
OpenEphysRecordingExtractor.getChannelIds force to load everythin in memory

Here a bug I have in TridesclousSorter because saveProbeFile need channel_ids and getting channel ids read everything included multifly the gain.

See my bug:
and this issue https://github.com/CINPLA/pyopenephys/issues/11

[code]

[2019-03-01 11:25] samuelgarcia opened #92 "BinDatRecordingExtractor should have a "offset" or "byteoffset" keyword"
Some binary dat file do not start at 0.
For instance this [data](https://zenodo.org/record/1205233#.XHkWSHWLTIH) have an offset.

numpy.memmap offer a **offset** karg, BinDatRecordingExtractor offer possibility to be different from 0.

[2019-03-01 12:05] #92 closed

[2019-03-01 12:37] magland commented on #88
Looks good to me.

On Friday, March 1, 2019, Garcia Samuel <notifications@github.com> wrote:

--
Sent from my phone

[2019-03-01 13:36] alejoe91 commented on #91
https://github.com/SpikeInterface/spikeextractors/pull/95/commits/0107703d5cb4abb723a87a57ed76f98350902fd7

[2019-03-01 14:39] alejoe91 commented on #91
ca1d53c2be4125e4c90e4a0c4675d113e9c92e60

[2019-03-01 14:39] #91 closed

[2019-03-07 14:30] alejoe91 opened #97 "add getChannelLocations() and getChannelGroups() in RecordingExtractor"
maybe also setters?

[2019-03-07 14:30] alejoe91 commented on #97
also setChannelLocations() setChannelGroups()

[2019-03-07 16:32] colehurwitz31 commented on #97
Should we have getChannelLocations() or should we have getChannelLocation() (multiple vs. single locations)

[2019-03-16 10:07] alejoe91 commented on #97
5b3d1fd10214cb6b197f10a6641551bf8988b07c

[2019-03-16 10:07] #97 closed

[2019-03-16 10:49] alejoe91 opened #101 "hs2 extractor wrong propert handling"
@colehurwitz31 @mhhennig

This https://github.com/SpikeInterface/spikeextractors/blob/master/spikeextractors/extractors/hs2sortingextractor/hs2sortingextractor.py#L42-L48 is wrong as it only allows `spike_locations` and `unit_location` to be property.

Can you fix that? you should set the property instead.

[2019-03-18 12:05] colehurwitz31 commented on #101
I will fix this today.

[2019-03-18 13:17] colehurwitz31 commented on #101
Fixed and merged!

[2019-03-18 13:17] #101 closed

[2019-03-18 13:51] samuelgarcia opened #103 "**writeBinaryDatFormat** should have transpose=True by default"
recording.getTraces().shape give (nb_channel, nb_sample)
but across many soft the raw binary file aka (.dat, .raw, .bin, ...) is internally (nb_sample, nb_channel) so by default writeBinary should be the standard way and so transpose=True.

My guess is that there is a bug in klusta and kilosort around that.

The very best would to NOT have default parameters for this function and force each piece

[2019-03-18 13:54] samuelgarcia opened #104 "writeBinaryDatFormat should not have by default float32"
writeBinaryDatFormat force by default float32.
Many big files are int16.
I think we should have by default ```dtype=None``` which would means keep the original dtype.

[2019-03-18 22:36] colehurwitz31 opened #106 "Removal of UnitSpikeFeatures"
I was considering removing UnitSpikeFeatures (set, get, etc.) from the SortingExtractor. Is anyone using this method extensively?

We can already store arrays of values with the UnitProperty functions so I don't know if the UnitSpikeFeatures methods are necessary. Also, it is a bit annoying to keep track of multiple dictionaries. What are your guys thoughts?

@alejoe91 @magland @samuelgarcia @mhhe

[2019-03-18 22:54] colehurwitz31 opened #107 "Property Handling in Curated Sorting Extractor (and Spike Features)"
Currently, in the CuratedSortingExtractor, properties are copied in from the parent_sorting. However, when two units are merged or a unit is split, the underlying properties are lost.

I think this is ok and something that makes sense given that there is no good way to split or merge properties (if one unit has a property and the other has the same property, can we really merge those properties?)

[2019-03-18 23:13] alejoe91 commented on #106
Yes! I use it to load waveforms and PCA scores. Please keep it ;)

Spike features is very different than property, as each feature is for a spike, the property is for the unit.

[2019-03-18 23:20] colehurwitz31 commented on #106
Ok, good to know :).

[2019-03-18 23:20] #106 closed

[2019-03-19 00:40] colehurwitz opened #108 "Freeze File Format version for Each Extractor"
Just like in spiketoolkit where we want to freeze the sorter version, I think we also should try to do the same here. We want users to know which file versions our extractors work for so we should freeze the file format version and give warnings if it is an older/newer version. Thoughts?

@alejoe91 @magland @samuelgarcia @mhhennig

[2019-03-19 00:47] colehurwitz31 opened #109 "Have getUnitPropertyNames return unit specific list"
Currently, getUnitPropertyNames returns the property names of any property that has been set for any unit. However, if only one unit has the property, getUnitPropertyNames will still say that the sorting extractor has that property (although most units don't have that property!)

Should we make getUnitPropertyNames return something that says what the property names are for _each specific unit_?

@

[2019-03-19 00:55] colehurwitz31 commented on #107
I will implement SpikeFeature splitting and merging though as those should be a part of the CuratedSortingExtractor.

[2019-03-19 00:57] colehurwitz31 commented on #107
I will make unit tests for CuratedSortingExtractor soon, however, if someone wants to test it out, that would be excellent. I plan to develop new postprocessing modules using the CuratedSortingExtractor as a base.

@alejoe91 @samuelgarcia

[2019-03-19 01:01] colehurwitz31 opened #110 "setUnitSpikeFeatures should have the type of value be a numpy array"
I think we should standardize the type of the value for UnitSpikeFeatures (a numpy array).

This would allow us to slice and index unit spike features in the CuratedSortingExtractor and elsewhere.

Thoughts?

@alejoe91 @samuelgarcia

[2019-03-19 02:15] colehurwitz opened #111 "Should MultiSortingExtractor only deal with non-continuous sorting extractors"
Currently, the MultiSortingExtractor can take either N continuous sorting extractors or N separate sorting extractors. Because of this, the current implementation is convoluted and some methods just don't work for the continuous case (features and properties).

Do you think we should remove the continuous case since it seems like it does not have much practical value and makes the code confusing a

[2019-03-19 09:05] alejoe91 commented on #111
Yeah the continuous case is tricky and I agree it wouldn't be used that much.
A better use case would be concatenating recordings and run sorting on all of them. In that case, though, we should be able to retrieve the start frame for each recording.

[2019-03-19 12:12] samuelgarcia commented on #111
I have not play with the MultiSortingExtractor, so I can't help.

[2019-03-19 12:14] samuelgarcia commented on #107
I have not play with CuratedSortingExtractor yet, so I can't help here.
I am discovering the while module zone by zone.

[2019-03-19 13:49] colehurwitz31 commented on #111
We can leave it in for now, but we maybe should consider removing it in the future

[2019-03-20 00:36] #107 closed

[2019-03-20 00:36] #109 closed

[2019-03-20 00:36] #110 closed

[2019-03-20 00:36] #104 closed

[2019-03-20 00:37] #103 closed

[2019-04-30 19:40] samuelgarcia opened #128 "Possible bug in MEArecRecordingExtractor"
I am try to make a notebook in spikeresult with file shared by Alesio.
This file are generated by MEArec.

Maybe I am doing something wring or maybe it is a bug or maybe a version dependency problem
WIth this
[code]

I get
[code]

@alejoe91  : Do you have any idea how to fix it ?

I did both pip install MEArec and clone from github.

[2019-04-30 19:41] samuelgarcia commented on #128
I am stupid.
This file is not a recording but template.
Sorry.

[2019-04-30 19:52] samuelgarcia commented on #128
Finally I have another bug...

[code]
[code]

[2019-04-30 20:29] colehurwitz31 commented on #128
The MEArec extractor works with the newest files generated by MEArec, but is not backwards compatible with older recordings. When was the recording generated?

[2019-05-01 13:41] #71 closed

[2019-05-01 13:41] #85 closed

[2019-05-03 18:02] colehurwitz31 commented on #128
Was this the issue? @samuelgarcia

[2019-05-03 18:06] alejoe91 commented on #128
@samuelgarcia can you try the dev version?

[2019-05-03 19:02] samuelgarcia commented on #128
yep. We can close. With another recording it works.
The one was too old.

[2019-05-03 19:02] #128 closed

[2019-05-09 08:41] samuelgarcia opened #134 "3D geometry with MEArec extractor make sorter buggy"
I am try to run sorter on the recording generated by MEArec given Allessio in google drive.
The geometry appear to be 3D. I think this is a good option for the futur but in the actual state of sorter I think they all deal with 2D geometry.

So for instance, the PRB file converted look like this:
[code]

and this prevent many sorters running.
I think that **_export_prb_file** should have an option

[2019-05-09 09:35] alejoe91 commented on #134
it does :) https://github.com/SpikeInterface/spikeextractors/blob/master/spikeextractors/extraction_tools.py#L140
The `dimension` arg can be used. E.g in MEArec you would use `dimension=[1,2]`

This is done automatically by sorters which don't deal woth 3d locaitons (kilosort, spyking-circus) via the argument `electrode_dimensions`

[2019-05-09 12:15] samuelgarcia commented on #134
yes but **save_probe_file** is call inside each sorter blindly without the knowledge of wich dimenssion must be used or not.
This option **electrode_dimensions** is tricky (at least for beginners).

So in case of 3D (like MEArec extractor), some sorter should fail because of this.

**run_sorters** should work out-the-box without tricky args like this one.

We should prevent this kind of error with

[2019-05-09 12:18] samuelgarcia commented on #134
How many RecordingExtractor have implicitly the geometry ?
For theses extractor we should have option to load 2D geometry.
For instance, why did you choose to have 0.0 for all electrodes at dim=0 ?
Is dim 0,1,2 for x,y,z ?

[2019-05-16 09:50] colehurwitz opened #141 "Store spike train counts as properties"
I find myself extracting spike trains and getting there lengths all the times. Upon initialisation, do you think storing spike train counts automatically as a property and then giving an easy way to access them (get_unit_spiketrain_counts()) would be a good idea?

[2019-05-16 09:56] mhhennig commented on #141
Could take a while to compute for large data, but should be useful:
[code]

[2019-05-16 09:57] colehurwitz31 commented on #141
I would store it in the properties dictionary, but I thought it would be useful as well

[2019-05-16 09:58] colehurwitz31 commented on #141
We could have a Boolean flag in the sorting extractor parent class that is false by default for loading spike train counts

[2019-05-16 10:01] mhhennig commented on #141
Or create a function `get_unit_spiketrain_counts()` in the parent class that computes counts and adds them as property when first called? Could this potentially break anything?

[2019-05-16 10:03] colehurwitz31 commented on #141
No, it wouldn’t break anything, but it should probably be optional

[2019-05-22 07:39] samuelgarcia opened #142 "MEArecRecordingExtractor and MEArecSortingExtractor are quite slow"
I am playing a bit with mearec theses days.
I found that MEArecRecordingExtractor and MEArecSortingExtractor are quite slow.
I don't have time to read the mearec code for IO but I think that **mr.load_recordings** load many thing in memory. there are no memmap or lazy loading.
Am I wrong ?

[2019-05-22 07:49] alejoe91 commented on #142
There should be a memmap of the h5 files for the recording extractor. I will check.
For the sorting extractor it probably loads the waveforms in memory..we could delete the object later

[2019-05-22 07:53] samuelgarcia commented on #142
At the moment it is not a probleme of memory use but time to load everyhting.
I think you could put some load on demand for waveform (and everything).

If you had used the neo rawio API ...

[2019-05-22 07:55] alejoe91 commented on #142
Eheheh we can discuss about that! Indeed spiketrains are neo spike trains, so it should be easy to load them with the neo api

[2019-05-22 08:02] samuelgarcia commented on #142
It is my secret plan : base spikeextractor on neo.rawio API with a simple wrapper.
But I don't think I will have before 2022. :)

[2019-05-29 12:38] #108 closed

[2019-05-29 14:57] colehurwitz opened #145 "Hard dependencies in spikeextractors"
Currently, we only have numpy as a hard dependency for spikeextractors which allows you to use a subset of extractors by default.

Do you think it might be good to include **h5py** as a hard dependency since that would enable many more extractors to be used immediately (klusta, hs2, biocam, spyking, etc.)?

Curious on your thoughts, @magland @samuelgarcia @alejoe91

[2019-05-29 16:38] colehurwitz commented on #145
We can think about this post-release

[2019-05-31 11:49] JoseGuzman opened #147 "OpenEphysRecordingExtractor does not contain 'gain'"
I'm trying to perform spike sorting with spyking-circus from a binary file acquired with open-ephys. However, the gain object is missing. I checked it, and it is not present in the https://github.com/CINPLA/pyopenephys module.

[code]

[2019-05-31 11:59] alejoe91 commented on #147
Hi,

In which format did you save the open ephys recording? binary or openephys?
I haven't tested properly with the openephys format, which will be discontinued soon, but I'll double check.

The gain is part of the AnalogSignal class (https://github.com/CINPLA/pyopenephys/blob/master/pyopenephys/core.py#L35)

Cheers
Alessio

[2019-05-31 12:00] alejoe91 commented on #147
Forgot to make a new release!!! One sec :)

[2019-05-31 12:01] JoseGuzman commented on #147
It's a binary file format.

The pyopenephys version is '1.0.5'

[2019-05-31 12:05] alejoe91 commented on #147
exactly..I had version 1.0.6 on setup.py but I forgot to tag it. Should be up in Pypi now (https://pypi.org/project/pyopenephys/#history)

Can you try to reinstalling it and run it again?

Thank for spotting it!
Alessio

[2019-05-31 12:08] alejoe91 commented on #147
Let us know if you have other issues :) We use open ephys both for tetrode recording and silicon probes, so we have several probe files and pipelines.
If you are interested this is how we preprocess, sort, and save to phy:
https://github.com/CINPLA/expipe-plugin-cinpla/blob/dev/expipe_plugin_cinpla/scripts/openephys.py#L114-L271

[2019-05-31 12:34] JoseGuzman commented on #147
The grain object is present after `pip install pyopenephys --upgrade # from 1.0.5 to 1.0.6 `. Note that you are using spyking-circus version 0.7.6 (current is 0.8 and cannot be upgraded with pip)

now, when I prepare the sorter
[code]
I got the following error:
[code]

[2019-05-31 12:35] alejoe91 commented on #147
Can you paste the probe file here?

[2019-05-31 12:38] alejoe91 commented on #147
Seems like it's not loaded correctly. It should add a 'location' property to each channel, but the warning message that you get says that 'location' property is not available.

[2019-05-31 12:40] JoseGuzman commented on #147
[code]

[2019-05-31 12:41] JoseGuzman commented on #147
Yes, the duration of the recording is different if I load it with spyking-circus (`| Duration of the recording   : 6 min 27 s 34 ms`) or with pyopenephys (`| Duration of the recording   : 24 min 38 s 818 ms`)

[2019-05-31 12:55] alejoe91 commented on #147
Is the recording in openephys 24 or 6 minutes???

Regarding the probe file, currently we support a simple and universal definition. I'll try out with your probe file, modify it, and paste it back :)

[2019-05-31 12:59] JoseGuzman commented on #147
the recording is exactly 24 min 38 s 818 ms as prompted! :)

[2019-05-31 13:12] alejoe91 commented on #147
great!

So the probe file looks good actually. Can you try to do this instead of passing the probe file?
Note that in our design, the probefile only provides group and location information. You can pass the other information (adjacency_radius) when you call the sorter:

[code]
The `get_graph` is implemented internally.

Let me know if it works! It works locally on my machine on simulated 64-chan d

[2019-05-31 13:16] alejoe91 commented on #147
@JoseGuzman just noticed that you used `probe_path` instead of `probe_file`! `probe_file` is the correct argument!!!

[2019-05-31 13:18] alejoe91 commented on #134
The `plane` information is present in MEArec. What about a `convert_to_2D` arg in the init (True by default) that loads the correct information?

[2019-05-31 13:19] alejoe91 opened #148 "Document format and use of probe file"

[2019-05-31 13:26] alejoe91 commented on #147
You will still need to pass the `adjacency_radius` separately

[2019-05-31 13:35] JoseGuzman commented on #147
It works now, with an unsual number of spikes! Very strange!
[code]

Great, then the whole conditions in *params will be specified as arguments. Looking forward to the documentation!!!!

[2019-05-31 13:35] #147 closed

[2019-06-02 10:06] alejoe91 opened #149 "make read the docs"
- recording extractor
- sorting extractor
- available extractors
- using a probe file
- (curating results)

[2019-06-02 12:00] colehurwitz commented on #149
I will look into doing this soon

[2019-06-02 12:01] alejoe91 commented on #149
I've started :) will make a PR later, than we can work on that

[2019-06-02 12:01] colehurwitz commented on #149
Oh, nice :). Sounds good!

[2019-06-02 12:34] samuelgarcia commented on #149
@alejoe91 : I experienced difficulties in the past with read the doc and auto build because of dependencies. Maybe it is easier today. I would advice to try something simple at the begenning and see how it build. Then you can make more complexe. For instance with sphink-galery plugin (to avoid notebook in git).

[2019-06-07 01:28] vncntprvst opened #156 "Kernel issue with spikeextractors"
Hi,
I have the basic issue that when importing spikeextractors, the kernel crashes.
The jupyter notebook displays a pop up window with this:

This happens in Ipython too (minus the message).
Same thing with spiketoolkit ...
I'm testing this on a Windows 10 machine, running Python 3.7.0.
Any idea what's going on?
Thanks

[2019-06-07 05:57] alejoe91 commented on #156
Hi, I have never seen it.. can you try to import it in Python and also to try python3.6? I use SpikeInterface on windows 10 python3.6 with no problems.

What's in your environment? Do you use anaconda? If not, I highly recommend to use it :)

[2019-06-07 17:58] vncntprvst commented on #156
I do use Anaconda, and indeed Python 3.7 was the issue. Import works fine using a 3.6 kernel.
Thanks

[2019-06-07 17:58] #156 closed

[2019-06-08 15:35] alejoe91 opened #159 "Test with Python3.7"
https://github.com/SpikeInterface/spikeextractors/issues/156

As mentioned here, there might be problems with python 3.7.

We should test it

[2019-06-08 15:50] #134 closed

[2019-06-11 11:55] colehurwitz opened #164 "Should get_unit_ids return list or numpy array?"
So depending on the SortingExtractor, some will return a list of unit ids and others will return a numpy array of unit ids.

Which would you prefer between the two? @samuelgarcia Pointed out that we should probably choose one, and I prefer the list being return each time. I can fix this if we agree.

@samuelgarcia @magland @alejoe91

[2019-06-11 12:29] samuelgarcia commented on #164
A list is fine for me.

[2019-06-11 12:45] alejoe91 commented on #164
let's keep lists

[2019-06-11 12:47] colehurwitz commented on #164
Ok, I can go update everything.

[2019-06-11 13:15] #164 closed

[2019-06-12 08:56] alejoe91 commented on #149
@colehurwitz do you have time to fill in the missing parts? :)

[2019-06-12 09:30] colehurwitz commented on #149
Yes, I can get to those in the near future!

On Wed, Jun 12, 2019 at 9:56 AM Alessio Buccino <notifications@github.com>
wrote:

[2019-06-12 09:33] colehurwitz opened #168 "Spikeextractors README ok?"
I feel as though the README might be a little verbose and not as clear (the example is quite long), what do you guys think? @alejoe91 @mhhennig @samuelgarcia

I can shorten it and make it more clear if you guys think it is lacking.

[2019-06-12 10:21] mhhennig commented on #168
I think it is good as all the info is there. Myabe move the colab link to the top?

[2019-06-12 10:22] alejoe91 commented on #168
The colab is totally broken though. It still imports spikeinterface as si...I would remove it from both READMEs

[2019-06-12 12:53] samuelgarcia commented on #168
An the collab example was before 2 big refactoring:
 * sorter as class
 * comaprison

So yes, lets remove the link.

[2019-06-12 13:01] colehurwitz opened #169 "Add sampling frequency to SortingExtractors that support it"
I was thinking an optional sampling_frequency argument can be added to sorting extractors that do not have access to the sampling rate:

MDASortingExtractor(firings, sampling_frequency=None)

[2019-06-12 13:02] colehurwitz commented on #169
@samuelgarcia  Is the .npz sampling frequency code ok? If so, I can uncomment it and commit it

[2019-06-12 13:03] samuelgarcia commented on #169
I think it is better to have explicitly self._sampling_frequency = None for theses format.

The only consequence is that the user will have to provide manually for SpikeComparison otherwise it will raire an error.

About npz you can uncomments but it has never been tested.
So please add 2 line in the test_nzp....

[2019-06-12 13:05] colehurwitz opened #170 "NEO extractors"
Does making NEO extractors make sense or is that not something worth doing? @samuelgarcia

[2019-06-12 13:11] samuelgarcia commented on #170
Of course we have to do it :)
In my mind it was a more long term project.

neo and spikeextractor have a super strong overlap. This will lead to energy disperssion.
So a rapprochement between se and neo should be good. And it should be more than an extra tor based an neo.

[2019-06-12 13:24] colehurwitz commented on #170
Yes, that is a good idea. We can come up with more ideas in a meeting at some point.

[2019-06-12 13:24] colehurwitz commented on #169
I can add that as a test!

[2019-06-12 13:27] colehurwitz commented on #169
Just realized a bit of a problem... numpy sorting extractors don't support sampling frequency and we use it in our tests to write to different formats.

[2019-06-12 13:28] colehurwitz commented on #169
Should we add that to NumpySortingExtractor as an argument that is None by default?

[2019-06-12 14:22] samuelgarcia commented on #169
Yes.

[2019-06-12 14:45] colehurwitz opened #172 "TridesclousSortingExtractor unit test"
@samuelgarcia  Could you make a unit test for the TridesclousSortingExtractor if you get the chance? You could add it like the .npz test.

[2019-06-12 14:50] samuelgarcia commented on #172
it will be hard because it depend on many many package included PyQt5....
The code is mainly a wrappers.

When I make a change I test it locally with a pipline.

There is still a bug I need fix very soon.

[2019-06-17 12:50] alejoe91 opened #180 "HS2 extractor is extremely slow"
tested on the retina dataset, it takes 20 minutes to load a sorting extractor

[2019-06-17 12:52] samuelgarcia commented on #180
And mearec extractor is "quite" slow :)

[2019-06-17 12:52] samuelgarcia commented on #180
npz is quite fast :)

[2019-06-17 12:54] alejoe91 commented on #180
I think MEArec is quite slow because it loads waveforms..I'll make it optional

[2019-06-17 13:12] samuelgarcia commented on #180
And it load signals also, no ?

[2019-06-17 14:25] alejoe91 commented on #180
no all memmapped

[2019-06-17 14:27] colehurwitz commented on #180
Will work on this. Probably has to do with all the extra info we load in as properties. We could always make this optional if that is the problem.

[2019-06-17 16:51] #169 closed

[2019-06-19 09:13] mhhennig commented on #180
I checked, it is `set_unit_spike_features` that's rather slow. I think it is all the checking it does. It should be possible to circumvent this function during creation, correct?

[2019-06-19 09:54] mhhennig commented on #180
Just made a PR with some changes that speeds up the loading of extra info in HS2 files.

[2019-06-20 13:51] alejoe91 commented on #180
can we close this?

[2019-06-20 13:52] colehurwitz commented on #180
Yep!

[2019-06-20 13:52] #180 closed

[2019-06-20 13:53] colehurwitz commented on #145
I still think this is potentially a good idea. Thoughts?

[2019-06-20 13:56] alejoe91 opened #186 "h5py based extractors fail when channel_ids are not ordered"
MEArecRecordingExtractor throws an error if channel ids are not ordered. This may happen if channels are reordered with a probe file.

I'll make a PR with this solution, as maybe other extractors might fail too:
[code]

[2019-06-20 14:22] samuelgarcia commented on #145
Personnaly I would prefer to keep H5 as a weak dependency.
H5 is sometimes a pain to install.

[2019-06-29 19:03] colehurwitz opened #193 "Remove continuous sorting extractor capability from MultiSortingExtractor"
From what I can tell, the use of supporting  continuous sorting results in different files is very limited. Removing this functionality would allow me to clean up the MultiSortingExtractor quite a bit (I would just focus on the case that we have sorting results that are unrelated).

Also, as expected, properties don’t work for the continuous case so that would make this problem go away. Thoughts?

[2019-06-30 15:48] #168 closed

[2019-06-30 15:48] alejoe91 commented on #149
Still missing the probe file handling

[2019-06-30 15:48] alejoe91 commented on #149
but there's another issue open

[2019-06-30 15:48] #149 closed

[2019-06-30 15:49] alejoe91 commented on #148
https://spikeextractors.readthedocs.io/en/latest/probe.html

[2019-07-01 15:25] colehurwitz commented on #193
Do continuous sortings with subsorting extractors after sorting

[2019-07-01 15:34] colehurwitz opened #198 "Two multirecordingextractors for channels and times"
As part of the dicussion, we realized that multirecording extractors could be used for concatenating by channel or by time. We should implement both

[2019-07-01 15:34] colehurwitz opened #199 "Create utility functions for concatenating recordings together into multis"
We will introduce functions for concatenating recording extractors together which will return the correct multi extractor.

[2019-07-01 16:09] colehurwitz opened #200 "MDA write sorting looks for unit property not unit spike feature"
Implement this cole

[2019-07-01 18:35] alejoe91 opened #202 "Why is the set_sampling_frequency not in the SortingExtractor?????"

[2019-07-01 18:37] colehurwitz commented on #202
I think that @samuelgarcia wanted the get_sampling_frequency to be a file specific function (kinda like get_traces), not some set and get function.

[2019-07-01 18:37] colehurwitz commented on #202
Might be good to have though!

[2019-07-01 18:38] alejoe91 commented on #202
Ah ok! I need it for the spikesorters! making a PR

[2019-07-01 19:02] samuelgarcia commented on #202
I am OK to have set_sampling_frequency.
I think I did not writte at the beginiing but we can.

[2019-07-01 19:02] alejoe91 commented on #202
Done :)

[2019-07-01 19:02] #202 closed

[2019-07-02 01:11] magland opened #204 "static typing"
I have been using static typing in a subset of spikeforest (and plan to put it in everywhere). See
https://github.com/flatironinstitute/spikeforest/blob/master/mountaintools/mountainclient/mountainclient.py

@colehurwitz, I know that you mentioned this before

This, combined with something like mypi checker or the awesome pyright vscode plugin goes a long way to catch type errors before they cause

[2019-07-02 08:01] samuelgarcia commented on #204
I am OK with the static typing.
But we need to make this steps by steps with a clear roadmap.
The very best for this would be to save a date and to make in parallel each one a module or submodule (soters, comparison, preprocessing, ...) in short time window.
@magland you would be the coordinator.
This kind of big change could colide with other changes, it has to be done quite fast. (cf camelcase c

[2019-07-02 22:03] magland commented on #204
Okay, we can work on finishing integration first. Static typing is very nice in python in that you can have it in a subset of the files without it causing problems. So I might start including it in some of the newer contributions, as you have seen already.

[2019-07-11 12:51] #111 closed

[2019-07-11 12:51] #141 closed

[2019-07-11 12:51] colehurwitz commented on #142
All done with this @alejoe91 ?

[2019-07-11 13:14] alejoe91 commented on #142
yep

[2019-07-11 13:14] #142 closed

[2019-07-11 13:25] #159 closed

[2019-07-11 13:25] #145 closed

[2019-07-11 13:26] #193 closed

[2019-07-11 13:26] #198 closed

[2019-07-11 13:26] #199 closed

[2019-07-16 08:32] samuelgarcia opened #214 "Need a way to serialize extractor."
@colehurwitz @alejoe91 @magland

We need a standard and simple way to "serialize" our extractor (spike and recordings).

  * One need is the Cole GUI
  * Another could be the launcher. because now launcher take a list of recordings. If we want to
    put it in a queue for distributed computing we need to serialize.

The most obvisous way is to add methods in **RecordingExtractor** and **SortingExt

[2019-07-16 09:12] colehurwitz commented on #214
What I plan to do for the GUI is to use the extractorlist.recording_extractor_dict or extractorlist.sorting_extractor_dict. Then I can just store the name and the params and instantiate it later (doesn’t really work for loaded properties, but that is part of our pipeline anyways)

[2019-07-16 09:59] samuelgarcia commented on #214
OK you store params before the object is created.

The scenario I propose is to get params when the object is already created, the 2 things could converge but we would need that al params would be store stored as attribute without name modification (dtype -> _dtype).

[2019-07-16 10:39] colehurwitz commented on #214
Ok, that works as well. Yeah, we were planning on using the name and pre-stored parameters, but serializing works too.

[2019-07-18 15:55] samuelgarcia commented on #214
@magland @alejoe91 : any comments ?

[2019-08-06 19:07] mhhennig opened #223 "Complete NWB extractors, including write function"
Requirements:
- read raw data with a `RecordingExtractor` (partly done)
- read sorted data with a new `SortingExtractor`
- write functions for both
- allow writing of recording and sorting to the *same* file

[2019-08-06 23:47] bendichter opened #224 "request: PlexonExtractor"

[2019-08-06 23:47] bendichter opened #225 "request: NeuralynxExtractor"

[2019-08-08 19:59] luiztauffer commented on #223
Hi @mhhennig ! =)
We’re doing exactly this in our fork of the project: https://github.com/ben-dichter-consulting/spikeextractors/blob/master/spikeextractors/extractors/nwbextractors/nwbextractors.py
comments and suggestions are welcome! We might PR soon

[2019-08-08 20:43] mhhennig commented on #223
Hi @luiztauffer, nice to see you again here!

Any questions ask here, I'll assign @colehurwitz, who conceived the extractors.

Have you thought about metadata? We have deliberately left any of this out of the extractors as we wanted light-weight access to data relevant to sorting, and nothing else. I have been thinking it may be good to just pass that through, without any parsing or similar. Any i

[2019-08-08 20:51] bendichter commented on #223
Hey @mhhennig and @colehurwitz

I was thinking we could handle metadata with optional dict args called e.g. `nwbfile_kwargs` which would, if defined, pass arguments to the `NWBFile` constructor. No functionality would depend on this, so users could continue to use this as a simple converter of just the essential data or could add metadata if they want to. Do you think that would work?

[2019-08-08 22:39] colehurwitz commented on #223
I think this should work! Having it as an optional argument to this specific extractor means that other extractors won’t be affected by these changes.

Btw, how do you handle writing other files that don’t have a lot of metadata into NWB? If I wanted to write the .mda format from mountainsort into NWB, can your sorting extractor handle that well even though there isn’t metadata?

[2019-08-09 00:35] bendichter commented on #223
I'm not familiar with that particular format. A lot of the NWB meta data
fields are optional and for the ones that are not we can put place holders
in if we don't have the information.

On Thu, Aug 8, 2019, 6:39 PM Cole Hurwitz <notifications@github.com> wrote:

[2019-08-09 15:32] luiztauffer opened #226 "spike times as integers?"
Any specific reason why spike times are returned as integers in `NumpySortingExtractor` [this line](https://github.com/SpikeInterface/spikeextractors/blob/1466e03802060b661071de2df70870046082112e/spikeextractors/extractors/numpyextractors/numpyextractors.py#L82) ?

[2019-08-09 15:34] alejoe91 commented on #226
@luiztauffer as spike train unit we use number of frames/samples in the entire spikeinterface framework. They can be quickly converted using the sampling frequency.

[2019-08-09 15:39] luiztauffer commented on #226
@alejoe91 thanks!

[2019-08-09 15:39] #226 closed

[2019-08-09 19:11] bendichter opened #227 "units of measurement / magnitude"
It is common for data acquisition formats to store voltage data as `int16` values and have a scaling factor to convert these values to volts (e.g. SpikeGLX). It looks like spikeextractor ignores these scaling factor values and returns data in an arbitrary magnitude. As a result, the units of measurement are lost during conversion from one data format to another. Would it be possible to include `ge

[2019-08-10 11:22] alejoe91 commented on #227
@bendichter I think this should be handled by each extractor. I implemented it in the `OpenEphysRecordingExtractor` and you can get traces eithe in int16 or in float (uV) (https://github.com/SpikeInterface/spikeextractors/blob/master/spikeextractors/extractors/openephysextractors/openephysextractors.py#L42-L53). I agree we should add something like that in the SpikeGLXExtractor.

Also, the `get_tr

[2019-08-10 16:47] bendichter commented on #227
@alejoe91 Thanks for pointing out that feature. NWB allows you to have it both ways: store data in `int16` which saves memory and also a conversion factor which allows you to convert to volts (much like the `gain` value of OpenEphys). That's why I thought a `get_scaling_factor` would be particularly useful for us. Is it specified somewhere that the data is converted to uV as opposed to mV or V? If

[2019-08-10 16:59] alejoe91 commented on #227
@bendichter I'd prefer using uV as spike amplitudes are not e intuitive imo.
We can add a `return_unit` in the `get_traces` from the base class and we can convert to uV, mV, or V in the get_traces on the fly. How does it sound? If return_unit is None and the file is binary then int16 is returned. We can definitely port some code from the SpikeGLX library.
I'm a bit busy next week, would you have t

[2019-08-11 16:22] bendichter commented on #227
@alejoe91 Having a `get_scaling_factor` entirely solves our problem. Optionally applying the conversion in `get_traces` sounds find to me, but I probably wouldn't use it when converting to NWB:N since I'd prefer to store the data as type `int16` and keep the `scaling_factor`. But one thing I really need is to make sure we are consistent with what units `scaling_factor` converts to. The NWB convers

[2019-08-13 12:01] alejoe91 commented on #227
Ok then. I would prefer using `uV` as standard. You can convert in the extractors. Would you be able to implement that? Otherwise we can do it next week :)

[2019-08-16 18:56] luiztauffer commented on #227
I have datasets from SpikeGLX saved in different format pairs, example:

filename.imec0.ap.bin
filename.imec0.ap.meta

filename.imec0.lf.bin
filename.imec0.lf.meta

filename.nidq.bin
filename.nidq.meta

For the first pair (ap) SpikeGLXRecordingExtractor works fine. For the other pairs, no. This is caused by not reading the metafiles correctly.

[SpikeGLX](https://billkarsh.github.io/SpikeGLX/#offl

[2019-08-20 17:49] colehurwitz opened #229 "Conversion factor property"
Add a set and get conversion factor in the RecordingExtractor. Handle it with properties and make it None for each electrode by default.

[2019-08-20 17:55] colehurwitz commented on #229
@bendichter I will let you know how this goes!

[2019-08-23 11:45] colehurwitz commented on #229
#231

[2019-08-23 11:45] colehurwitz commented on #227
#231

[2019-08-23 19:32] #227 closed

[2019-08-23 19:32] #229 closed

[2019-08-25 18:00] bendichter opened #232 "Proposal: using contexts"
I would like to propose that we support contexts as an optional workflow.

For some filetypes it is best practice to close them after use. The NwbExtractors currently handle this by opening and closing the file with every method call, but this is inefficient. We could imply add a `close` method, but this would make the API different between extractors. Also, contexts are a preferred way to manage

[2019-08-25 22:24] bendichter opened #233 "transpose breaks lazy read"
The recording files are often too large to fit into memory all at once, so it is important for us to support lazy read. For NWB (and perhaps other supported formats) this is not currently possible because we are required to transpose the data:

https://github.com/SpikeInterface/spikeextractors/blob/d90dd8e2402d516d2d69febf17de3648ae7cb97d/spikeextractors/extractors/nwbextractors/nwbextractors.py#L

[2019-08-25 22:43] bendichter commented on #233
@luiztauffer

[2019-08-26 10:31] colehurwitz commented on #232
This is very interesting. I like the idea. I am not sure how to implement it myself, but if it isn't too hard, I think it would be a nice addition.

[2019-08-26 10:31] colehurwitz commented on #232
What are your thoughts @magland @alejoe91 @samuelgarcia ?

[2019-08-26 10:35] colehurwitz commented on #233
Agreed, this is important. It seems like xarray could work for dask-backed DataArrays, but not for numpy-backed DataArrays.

http://xarray.pydata.org/en/stable/generated/xarray.DataArray.transpose.html

[2019-08-26 10:50] samuelgarcia commented on #227
Hi all.
I am happy with this. Thank you.
I would also implement "get_dtype" very soon.

[2019-08-26 10:52] colehurwitz commented on #227
I implemented this using channel properties in #231 so we didn't have to change anything in the API . Good to see you back Samuel! I hope you had a nice vacation. :)

[2019-08-26 10:53] samuelgarcia commented on #232
The idea is cool but we need many internal modification since many extractor do a memap in the init...

[2019-08-26 10:55] samuelgarcia commented on #233
Hi @bendichter.
The problem is the copy here not the transpose. No ?
In numpy the transpoe is lazy because it only affect the strides.

What happen if
```data = ts.data.T ```

[2019-08-26 11:01] samuelgarcia commented on #226
By the way. spiektimes should be renames as spiekindexex. This would avoid confusion No ?

[2019-08-26 11:05] samuelgarcia commented on #224
This will be handle when I will implement the neo extractor layer.

[2019-08-26 11:05] samuelgarcia commented on #225
This will be handle when I will implement the neo extractor layer.

[2019-08-26 12:29] samuelgarcia opened #234 "file name should not have the same names as the class include in it."
In spike extractros we have
```from .RecordingExtractor import RecordingExtractor```
we should have file name in lower case to avoid name masking and so avoid this.

This is speculative but I think that this bug https://github.com/SpikeInterface/spikeinterface/pull/3 is due to this naming.
What do you think ?

[2019-08-26 13:09] alejoe91 commented on #234
HI @samuelgarcia

Maybe that's indeed the issue. We could have everything lower case to fix it. We would only need to change the RecordingExtractor, Multi.., Sub, Sorting.. and the __init__

[2019-08-26 13:18] colehurwitz commented on #234
We would have to change some stuff in spiketoolkit as well.

[2019-08-26 13:27] samuelgarcia commented on #234
@colehurwitz : In my mind spiketoolkit don't have file name with camelcase.

@alejoe91 : yes the fix is very fast.

Note that I am not sure at all that this is the problem. It is a guess.

[2019-08-26 13:28] alejoe91 commented on #234
@colehurwitz in st we use `from spikeextracors import RecordingExtractor`, which will stay the same.

@samuelgarcia I recommend giving it a quick try :)

[2019-08-26 13:30] samuelgarcia commented on #234
I will. This my second item on todo list.
I will first  try the phinx gallery plugin :)

[2019-08-26 14:12] bendichter commented on #232
I'm glad you guys like the idea. Through the magic of inheritance I really
don't think it will be much work

On Mon, Aug 26, 2019, 6:53 AM Garcia Samuel <notifications@github.com>
wrote:

[2019-08-26 14:32] colehurwitz commented on #234
I mean, we need to change some file names in spiketoolkit as well. For example, the CurationSortingExtractor.

[2019-08-26 14:47] p2jones opened #235 "request: MCS extractor"
I'd like to use SpikeInterface with data recorded by amplifiers from Multi Channel Systems. Their data is stored in *.msrd or *.mcd files (or others, described in the [Multi Channel DataManager Manual](https://www.multichannelsystems.com/sites/multichannelsystems.com/files/documents/manuals/Multi%20Channel%20DataManager_Manual.pdf) but can be converted to H5 files by their [DataManager or command

[2019-08-26 14:57] colehurwitz commented on #235
Hi @p2jones ,

Implementing an extractor is actually pretty straightforward.

All you have to do to create a new RecordingExtractor is to implement the abstract methods in:
https://github.com/SpikeInterface/spikeextractors/blob/master/spikeextractors/RecordingExtractor.py

To create a new SortingExtractor,  you have to implement the abstract methods in:
https://github.com/SpikeInterface/spikeextra

[2019-08-26 14:57] alejoe91 commented on #235
Hi @p2jones

It is quite straightforward to implement an extractor, and if you are familiar with the data format I think it will be very easy for you to do it.

There is a "Building a new RecordingExtractor/SortingExtractor" section in the README. In brief, for a `RecordingExtractor`, you can inherit from the base [`RecordingExtractor `](https://github.com/SpikeInterface/spikeextractors/blob/maste

[2019-08-26 14:57] alejoe91 commented on #235
@colehurwitz good timing!

[2019-08-26 14:58] colehurwitz commented on #235
@alejoe91 Indeed!

[2019-08-26 16:26] p2jones commented on #235
Ok I'll have a shot at it. Thanks!

[2019-08-26 17:35] p2jones commented on #235
Is `_gui_params` necessary?

I've managed to make a new MCSRecodingExtractor in a local branch (MCS). I tried to push (`git push -u origin MCS`) and got:

`remote: Permission to SpikeInterface/spikeextractors.git denied to p2jones`

What's the best way to do this? I haven't contributed to something like this before.

[2019-08-26 17:46] alejoe91 commented on #235
You should fork the repo and push the changes on your fork. Then you can make a pull request from your fork to this repo!

[2019-08-26 17:57] colehurwitz commented on #235
_gui_params is not required, but would be nice to have and very easy to make. It is a list of dictionaries for each param in your subextractor's initialization (the format can been seen in the example I set). It allows users to use extractors from within a GUI.

If you don't want to make it or are confused, I can put it in afterwards.

[2019-08-26 18:00] p2jones commented on #235
Forked and pushed: https://github.com/NMI-MSNT/spikeextractors/tree/MCS

I based it on the Biocam extractor, so perhaps I have unnecessary structure in the extractor. For example, I don't know if openMCSFile should be a separate function, or could just be in __init__.

Should I do a pull request in this state?

https://github.com/NMI-MSNT/spikeextractors/blob/MCS/spikeextractors/extractors/mcsreco

[2019-08-26 18:07] alejoe91 commented on #235
You can make the pull request and we comment there if we have any doubts :) for now the probe layout can be easily loaded as a prb or a CSV file using the `load_probe_file` function of spikeextractors

[2019-08-26 19:20] samuelgarcia commented on #235
Hi @p2jones.
I have implemented recently the MSC in neo.
See https://github.com/NeuralEnsemble/python-neo/blob/master/neo/rawio/rawmcsrawio.py

I will soon start a generic wrapper on top of neo in spikeextractor. So all format available in neo.rawio willl be available inside spikeinterface.
The advantage is that you won't need conversion to hdf5 with there tools, you could acces directly with lazy

[2019-08-26 19:21] samuelgarcia commented on #235
@p2jones : could you named you extractor MCSHDFRecordingExtractor instead of MCSRecordingExtractor because MCSRecordingExtractor name could fit better the natural format when it will be implemented.

[2019-08-26 19:26] samuelgarcia commented on #235
My bad, the link I send you is the OLD MSC format from the old version.

the new one, is implemented in a branch here https://github.com/samuelgarcia/python-neo/blob/format_msrd/neo/rawio/msrdrawio.py

This new link implement the NEW msrd format from multi channel that replace the old MSC format. The previous I send you is the the MSC converted to custulmized bin format and not maintain anymore by

[2019-08-27 13:34] p2jones commented on #235
Ok, I've renamed it to MCSH5RecordingExtractor, and fixed a couple bugs.

Thanks @samuelgarcia for the info about neo. I'll have to try that out as well.

MCS data can include arbitray unordered channel IDs, for example, if a few channels are exported from a larger recording. In MCSH5RecordingExtractor, I've now included `channel_ids` (0 to n-1) as well as `channel_ids_MCS` which can be arbitrary.

[2019-08-27 16:25] alejoe91 commented on #235
@p2jones in the plot_timeseries it is only used to select some channels for plotting. It is perfectly fine to return (0 to n-1)

[2019-08-28 08:54] p2jones commented on #235
Ok. I misunderstood a bug that I was having. It's fine now with a arbitrary channel_ids (for example, a recording with six channels with IDs of 15, 17, 26, 44, 45, and 58). It seems to be working now.

[2019-08-28 09:03] alejoe91 commented on #235
Great! Can you make a pull request so we can compare the code and merge when it's ready? After you make a PR, you can still commit changes and we can review the code :)

[2019-08-28 17:37] mhhennig commented on #233
Is it perhaps possible to first slice and then transpose? Slicing creates a view, so transposing that should be fast(er) than the whole chunk. Haven't tried yet though...

[2019-08-28 17:47] mhhennig commented on #232
Nice, this could solve a problem with h5py I've had with hdf5 files not getting closed. Is it correct that an extractor would then need a method `__exit__()`, which takes care of open files?

[2019-08-29 02:43] bendichter commented on #233
if we want start_frame and end_frame to work with lazy read we would also need to implement lazy slicing- something like [this](https://gist.github.com/stuarteberg/7ecd8cb7b24d12f4ffd9)

[code]

although the above handles the more general case that includes the entire slicing: syntax, colons, elipses, etc. What we need might be much simpler. Combining it with transpose might be tricky though.

[2019-08-29 09:09] alejoe91 commented on #232
@bendichter would you implement the `__enter__` and `__exit__` in the base extractors and just have `pass`. So other extractors with file IO can override it but the context notaiton will work for all.

Does the context enforce to use the `with` notation? can you also add a destructor and close the file there in case one prefers not to use the context? that should solve the file closure as well.

[2019-08-29 12:29] bendichter commented on #232
@alejoe91 you would be able to continue to use the current syntax. It does not enforce this new notation. `__enter__` would call `__init__` and `__exit__` would just be `pass`

[2019-08-30 09:23] mhhennig commented on #233
I just did a comparison, using a hdf5 file with some data:
[code]
Here two ways to access the data. First read then transpose:
[code]
and now transpose and then read:
[code]

Problem is that transposing does not create a view, but actually reads the whole data. In the biocam extractor, for instance, I therefore implemented views throughout (they also have different formats with every possible arra

[2019-08-30 09:53] bendichter commented on #233
Oh really? I'll check that out!

[2019-08-30 12:15] colehurwitz commented on #235
One question @p2jones . Do you need mea_pitch? It isn't used anywhere in the extractor.

[2019-08-30 12:19] p2jones commented on #235
No, it can be removed.

[2019-08-30 12:28] colehurwitz commented on #235
Thanks so much for implementing this extractor! We appreciate the contribution and hopefully you find it useful for you work. :)

[2019-08-30 12:28] #235 closed

[2019-09-02 11:29] bendichter commented on #233
@mhhennig Perhaps I am confused, but I thought that slicing an h5py array automatically reads the data, not creating a view, but a numpy array with the data loaded into ram.

For instance in this line:
https://github.com/SpikeInterface/spikeextractors/blob/e770e981b2d5389a23a70d71582f7809c20c9ae7/spikeextractors/extractors/biocamrecordingextractor/biocamrecordingextractor.py#L166

`rf['3BData/Raw'

[2019-09-02 12:30] alejoe91 commented on #234
spikeextractors: https://github.com/SpikeInterface/spikeextractors/pull/236

spiketoolkit: https://github.com/SpikeInterface/spiketoolkit/pull/227

[2019-09-02 12:30] #234 closed

[2019-09-02 13:26] bendichter opened #241 "soft clustering"
Is it possible to represent soft clustering of spikes in the SpikeExtractor API? Some sorters output a probability that a spike belongs to a few different clusters. You could just take the max and move on, but some labs are starting to prefer to treat these spikes probabilistically, accounting for the fact that it is uncertain which cluster it truly belongs to. Would it be possible to support this

[2019-09-02 13:30] colehurwitz commented on #241
I think this can be handled by spike features in the SortingExtractor. Spike features are stored in dictionaries (like unit properties) but are arrays of values that correspond to the spike times in each SortingExtractor. Each spike could have an associated probability feature.

[2019-09-02 13:33] bendichter commented on #241
@colehurwitz sounds reasonable. This would require a decent amount of data duplication, but may be the best approach nonetheless.

[2019-09-02 13:35] alejoe91 commented on #241
Hi @bendichter

As @colehurwitz it is possible [spike features](https://github.com/SpikeInterface/spikeextractors/blob/master/spikeextractors/sortingextractor.py#L88).

Features are a list or an array with the same number of elements as the spike train. So I would assign the unit to the highest probability cluster, and then you could have a `probability` feature which can be a list if dictionaries

[2019-09-02 13:38] colehurwitz commented on #241
@alejoe91 If you check his example, he mentioned that each unit would have duplicate spikes and then probabilities can be stored 1-1 without dictionaries.

[2019-09-02 13:40] bendichter commented on #241
@colehurwitz Yes that's true but I'm just trying to think through different options for storing this information.

@alejoe91 Yes I like your proposed system. I like that if a user is naive to this whole probability system, then the system defaults to just using the max probability cluster, which seems like the right default mode. Are the strings 'p_u1' already used as unit identifiers? If not, it

[2019-09-02 13:43] colehurwitz commented on #241
I like Alessio's method as well of storing the spike time in the max probability unit spike train. I think having units ints as keys would be fine.

[2019-09-06 07:09] luiztauffer opened #244 "get_shared_unit_property_names() method for SortingExtractor"
Suggestion:
The recent update on RecordingExtractor giving the method get_shared_channel_property_names() was very nice, how about doing a similar method for SortingExtractor, e.g. get_shared_unit_property_names() ?

[2019-09-06 07:14] alejoe91 commented on #244
I totally agree :) We should definitely do that. It might take a few dates as we have to update all packages.

[2019-09-06 08:00] colehurwitz commented on #244
Good catch. I’ll do this today.

[2019-09-06 12:03] colehurwitz commented on #244
#245

I also updated spiketoolkit and spikewidgets to match this new functionality (all other repos did not use these functions).

[2019-09-06 12:13] samuelgarcia commented on #244
You shoudl update spikeinterface/examples.
examples elsewhere should be removed.

[2019-09-06 12:19] colehurwitz commented on #244
I updated the spikeinterface examples

[2019-09-06 12:19] colehurwitz commented on #244
Should I remove all examples from the other repos? Just delete the examples folders?

[2019-09-06 12:40] samuelgarcia commented on #244
@alejoe91 ?

[2019-09-06 12:41] colehurwitz commented on #244
Alessio just told me to delete the folders. Will do

[2019-09-06 12:41] #244 closed

[2019-09-07 21:09] colehurwitz opened #247 "Make load probe file a function of RecordingExtractor"
We can make 'load_probe_file" as a function of the RecordingExtractor. More object-oriented and more natural in my opinion.

`recording.load_probe_file('tetrode.prb')`

[2019-09-07 21:09] colehurwitz commented on #247
@alejoe91

[2019-09-07 21:11] alejoe91 commented on #247
the load_probe_file can reorder channels so it returns a subrecording extractor. Also the probe file might exclude some channels so I don't think this can be handled by the class.

[2019-09-07 21:40] colehurwitz commented on #247
Hmmm. So I think the name is pretty misleading right now. I always thought that it was loading properties into the original extractor (given the name and how we use it). However, it never modifies the original extractor, it only returns a new extractor.

So:

[code]

[2019-09-07 21:41] colehurwitz commented on #247
I think the name should be changed to represent that we are giving a new extractor with the loaded properties: `get_loaded_probe_extractor` or something.

[2019-09-07 21:42] colehurwitz commented on #247
Or we actually load the probe information by changing the recording extractor's channel_ids and reordering them.

[2019-09-07 21:56] alejoe91 commented on #247
For removing and reordering channels we need a subrecording extractor. Maybe we could change the name but as long as we document it properly I don't see this as a big problem. Returning another sub extractor makes it more flexible IMO

[2019-09-07 21:58] colehurwitz commented on #247
Ok, I agree with you. Let's just change the name then. How does this look:

[code]

[2019-09-07 22:00] colehurwitz commented on #247
Btw, I think this will be much easier if/when we move to a Probe object that is stored inside a RecordingExtractor (someday). Then we could have an actual load probe function that modifies that internal object which can reorder and get rid of channels in the extractor.

[2019-09-07 22:00] alejoe91 commented on #247
Mmm let's discuss it with the others. Personally I like the load_probe_file name and it's clear that another recording extractor is returned.
recording will be different than recording_prb anyways as properties are loaded. I don't think it makes a difference for the user

[2019-09-07 22:01] alejoe91 commented on #247
I agree with the probe object. It's in the plans :)

[2019-09-07 22:02] colehurwitz commented on #247
I think the name is just a bit too confusing.

A person that is quite familiar with object-oriented programming would probably want to do this:

[code]

[2019-09-07 22:04] alejoe91 commented on #247
It's written in the docs. It returns another extractor :) I think people will read the docs or the docstrings and it'll be clear

[2019-09-07 22:05] alejoe91 commented on #247
It's not a member function of the object in fact, but an external function

[2019-09-07 22:07] colehurwitz commented on #247
But returning another extractor does not imply loading anything. I think it is very confusing.

I actually use this function a lot and I didn't know that it did this. I think we should change it to `create_probe_subrecording` until we actually load stuff. We can discuss with @samuelgarcia @magland .

[2019-09-07 22:11] alejoe91 commented on #247
Mmm I don't like the name honestly. Let's discuss with the others. I think that if we document it properly (what I'd does is written in the docstrings and the docs) it should be fine for now (until we have a probe abstraction).

[2019-09-07 22:12] alejoe91 commented on #247
Alternatively we can set do: recording = subrecording, without returning anything.

[2019-09-07 22:14] colehurwitz commented on #247
That last idea is interesting... I would like it if that works. But I am not sure you can have a recording = subrecording because the subrecording references the recording! haha

[2019-09-07 22:19] alejoe91 commented on #247
We can try..I agree it would remove some confusion. Let's see tomorrow

[2019-09-09 09:31] samuelgarcia commented on #247
I think the debate here is "inplace modify" or "new object".

As a pandas user, that offer the 2 possibilities. At the begening I was happy with the inplace modified object but in fact it is a trap.
I now like very more the semantic ```new_object = object.do_something()```

In short, I am happy with the actual behavior.

About the name, I anderstand the "load" term is alittle bit confusing because

[2019-09-09 09:59] colehurwitz commented on #247
I am ok with the functionality as well. Do you think it might be better as an object function though (extractors create new subextractors with probe files)?

Also, I’m not sure I like the name you recommended as well because it still implies the original object is being changed (load, modify, etc). I think we need a name that is clear that nothing is happening to the original object.

[2019-09-10 12:24] luiztauffer opened #249 "Suggestion: Tutorials directory"
Hi, together with the NWB extractors extension I prepared a Jupyter notebook tutorial on how to use SpikeExtractors with NWB files.
I was wondering if you guys would like to have it somewhere, e.g. a tutorials directory.

[2019-09-10 14:43] colehurwitz commented on #249
We have a [spiketutorials](https://github.com/SpikeInterface/spiketutorials) package that might be a good fit for this! We have one workshop tutorial for building general pipelines, but it would be nice to have a good tutorial about integration into NWB.

[2019-09-10 14:45] samuelgarcia commented on #249
We also have tutorial (generated to notebook) here in spikeinterface meta package:

[source](https://github.com/SpikeInterface/spikeinterface/tree/master/examples)
and
[tutorial galery](https://spikeinterface.readthedocs.io/en/latest/modules/index.html)

[2019-09-10 16:05] colehurwitz commented on #200
#250

[2019-09-10 16:07] #200 closed

[2019-09-10 16:07] colehurwitz commented on #186
still an issue?

[2019-09-10 16:07] #148 closed

[2019-09-10 16:08] #77 closed

[2019-09-10 16:08] colehurwitz commented on #74
still something we should do, @samuelgarcia ?

[2019-09-10 16:09] colehurwitz commented on #87
Is this done?

[2019-09-10 16:09] colehurwitz commented on #172
@samuelgarcia any update on this?

[2019-09-10 16:10] colehurwitz commented on #88
Should we look into this gin stuff before or after the release? @samuelgarcia

[2019-09-10 16:57] alejoe91 commented on #249
I think it would be nice it to have it in the docs. @luiztauffer is the notebook on github?

[2019-09-10 18:59] samuelgarcia commented on #74
We can close if you want. I will be back on this after neo integartion in 2023.

[2019-09-10 19:05] samuelgarcia commented on #172
Make a unitest is still hard because need dep for test on tridesclous wich means Qt5...
I think we should live without test for the moment.

[2019-09-10 19:06] samuelgarcia commented on #88
Before the release sounds to much work.
But lets leave this opened for later no ?

[2019-09-10 20:56] colehurwitz opened #251 "Exporter Object"
I have been braining storming with Roger about an `Exporter` object which I feel might be important to have. Currently, for convenience, we keep all export code as a static function in an `Extractor`. I was thinking that we could keep this code there, but also build an object around the static function that is just for exporting. Then the user could import and use an `Exporter` object which is mor

[2019-09-10 21:05] alejoe91 commented on #251
What would be a sample use case that can't be done by the write_recording function (exactly same parameters as the unit you suggest)? Would you need an exporter for each class then? I think that you should be able to export without the need to instantiates another object only for that purpose, no? In my mind creating an extra object just makes it more convoluted.

Regarding phy, the export functio

[2019-09-10 21:54] colehurwitz commented on #251
It could allow extra exporting functionality. For example, we could implement something like an `export_by_property` function that creates subrecording extractors and exports each one separately. This is just an example, but generally, having an object to encapsulate a processing step is what we do in SpikeInterface and it allows for added functionality down the line.

[2019-09-11 05:54] luiztauffer commented on #249
not yet, but I can PR it to the spiketutorials repo and you guys can decide if it's worth it to put on documentation or anywhere else
:)

[2019-09-11 06:07] alejoe91 commented on #249
Sounds good! :)

[2019-09-11 10:29] mhhennig commented on #233
@bendichter Yes, sorry, it reads the data. But transposing first reads *all* data, not just the segment you want. That's the difference here I think.

[2019-09-11 11:57] colehurwitz commented on #251
Hmm, I could be persuaded against this. Not an important issue to be honest

[2019-09-11 11:59] colehurwitz opened #252 "Directories and Files in the IO system"
In our extractors, the name of the file or the directory is different depending on the subclass and sometimes it is confusing if it needs a directory or a file.

I was thinking we could do something similar to NEO (page 19): https://buildmedia.readthedocs.org/media/pdf/neo/0.4.1/neo.pdf

That will make integration with NEO easier in the future as well @alejoe91 @samuelgarcia

[2019-09-11 12:08] samuelgarcia commented on #252
:)
Everything should be like neo :)
Note that 0.4.1 is very very old version.
We are now in 0.7.2
https://neo.readthedocs.io/en/0.7.2/
But I think for that stuff it haven't change.

[2019-09-11 12:16] colehurwitz commented on #252
Also:

is_readable
is_writable

is very nice.

[2019-09-11 12:17] colehurwitz commented on #252
Although we can't switch to NEO now, maybe we can prepare our API now a bit.

[2019-09-11 12:28] colehurwitz commented on #252
How does this look:

[code]

For the init function, how can we ensure that each mode has the correct keyword, like this:
[code]

[2019-09-11 12:56] samuelgarcia commented on #252
Yes we can prepare.
The neo integration will be very slow....
I need first that neo 0.8 is released which is not the case....

[2019-09-11 12:59] colehurwitz commented on #252
How did you make sure that file and directory were required arguments given the mode?

[2019-09-11 13:08] samuelgarcia commented on #252
I think in each case, the reader have karg either dirname='XXX' or filename='XXX'.
This mode is a hint for GUI stuff.

[2019-09-11 13:43] colehurwitz commented on #252
Got it. I will make some changes to the code today.. Good to hammer down some API stuff before the paper releases.

[2019-09-13 10:42] samuelgarcia opened #255 "tkinter dependency ?"
In readSGLX we have a hard dependency on tkinter.
I think we should not hve this at all.
tkinter leads to many install problems in virtual env and extractor should have UI toolkit dep. No ?

[2019-09-13 11:48] colehurwitz commented on #255
I agree. It may not even be used in the main code. I removed a matplotlib requirement which wasn’t being used.

[2019-09-14 12:06] hoducha92 commented on #142
Quá phức tạp dề nghị có tiếng 5nam

[2019-09-14 14:36] colehurwitz commented on #142
Not too complicated! Just making sure our file IO is up to speed :) if you have any questions, let us know.

[2019-09-14 16:38] hoducha92 commented on #142
Đề nghị cho tiếng việt nam thì sẽ tiếp xúc nhiều người

[2019-09-14 17:24] colehurwitz commented on #142
Unfortunately, none of us speak Vietnamese. However, if you would like to help us translate our [readthedocs](https://github.com/SpikeInterface/spikeinterface/tree/master/doc) into Vietnamese, you can make a pull request. Here is a link about how to do this: https://docs.readthedocs.io/en/stable/localization.html. Thanks for checkout out our project!

[2019-09-14 17:49] colehurwitz commented on #255
#256

[2019-09-14 17:49] #255 closed

[2019-09-14 17:49] colehurwitz commented on #252
#254

[2019-09-14 17:49] #252 closed

[2019-09-14 17:50] colehurwitz commented on #251
This is probably not necessary.

[2019-09-14 17:50] #251 closed

[2019-09-14 17:50] colehurwitz commented on #247
#248

[2019-09-14 17:50] #247 closed

[2019-09-14 18:40] ronimhr opened #257 "ronimhr/keybase.md"
### Keybase proof

I hereby claim:

  * I am ronimhr on github.
  * I am ronimhr (https://keybase.io/ronimhr) on keybase.
  * I have a public key ASAdd2zdLGNOqIvWpLqjSqlKy_y87k00YChDp4m4eBP_MQo

To claim this, I am signing this object:

[code]

with the key [ASAdd2zdLGNOqIvWpLqjSqlKy_y87k00YChDp4m4eBP_MQo](https://keybase.io/ronimhr), yielding the signature:

[code]

And finally, I am proving owne

[2019-09-14 19:33] #257 closed

[2019-09-15 03:25] FahadAbdul9 opened #258 "Inheritance"
I make two program the first one is  LeibnizClass which is A class for use with Leibniz pi, and the second program calls LeibnizClass which is Import the needed class but I got this wrong:
Traceback (most recent call last):
  File "C:\Users\Owner\Desktop\Shomework3.py", line 6, in <module>
    import LeibnizClass
ModuleNotFoundError: No module named 'LeibnizClass'

why?

[2019-09-16 15:20] colehurwitz opened #260 "BinaryDatRecordingExtractor 'frames_first'"
Should the `frames_first` bool in the constructor be the same as the `time_axis` integer in the write_recording?

https://github.com/SpikeInterface/spikeextractors/blob/master/spikeextractors/extractors/bindatrecordingextractor/bindatrecordingextractor.py

[2019-09-16 15:52] alejoe91 commented on #260
Yesss

[2019-09-16 15:58] colehurwitz commented on #260
Can you fix this? I am not too confident that I understand the binary extractor and the frames_first/time_axis stuff.

[2019-09-16 16:07] alejoe91 commented on #260
frames_first should be time_axis=0. I can fix it tomorrow

[2019-09-16 18:56] samuelgarcia commented on #260
Be carrelul, if you change theses kargs as it could break some code everywhere.

[2019-09-17 17:53] bendichter commented on #233
@mhhennig fyi: https://github.com/ben-dichter-consulting/lazy_ops

[2019-09-17 18:01] alejoe91 commented on #233
Looks great @bendichter! Are you planning to release it soon? then we can definitely incorporate it! Otherwise we can just copy the file here. Let us know what you prefer

[2019-09-17 18:26] bendichter commented on #233
@alejoe91 We are planning to release it soon

[2019-09-22 21:42] McD-NMI opened #263 "MCSH5 Extractor newer format doesnt work"
@colehurwitz
It seems that the MultiChannel System (MCSH5) extractor can only handle H5 files from older versions of MCS software, and does not appear to work with their new H5 format.

Any plans to update for the newest format as well?

When I run older version it works fine, but I get this error in newer format.

[2019-09-23 10:39] colehurwitz commented on #263
We would definitely like to support all versions of the MCS H5 format both old and new!

We are currently preparing for a big release (along with a preprint) so things are pretty hectic right now. It would be great if you could help us update our mcsh5recordingextractor to be compatible with the newer format. Could you help us with that and then make a pull request we could review?

[2019-09-24 09:33] bendichter commented on #233
@alejoe91 https://pypi.org/project/lazy-ops/

[2019-09-24 14:36] McD-NMI commented on #263
Hmmm, I think I was initially wrong about this and there shouldnt be a difference in the .h5 files generated by .mcd and .msrd file types. Just a mistkae on my part. However I did end up looking through the extractor and will comit some small changes soon anyway!

[2019-09-24 14:36] #263 closed

[2019-09-24 14:49] colehurwitz commented on #263
Great! Thanks for looking through our implementation and for your upcoming changes. :+1:

[2019-09-25 06:09] alejoe91 commented on #233
@bendichter super!

So we just have to substitute the hdf5 ops (NWB, Biocam, MEArec) with the lazy ops and that should work, right?

[2019-09-25 06:09] #260 closed

[2019-09-25 06:11] #87 closed

[2019-09-25 08:02] bendichter commented on #233
@alejoe91 Yes I would like to use it in those places, but it's not exactly a copy/paste situation. Unlike memory maps, the data in `h5py.Dataset`s (and by extension `DatasetViews`) is only accessible when the dataset is open. In places where we read data within a context, the end of that context closes the file, which means the data within the file on disk is no longer accessible. This is where im

[2019-09-25 09:17] bendichter commented on #225
@samuelgarcia We are trying to use SpikeExtractors as core for much of our conversion framework, and this is a critical piece. What's the timeline on this?

[2019-09-25 09:32] alejoe91 commented on #225
@bendichter @samuelgarcia maybe for now we can have a general NeoExtractor that parsed any neo io to a si extractor. This should be quite quick to implement

[2019-09-25 09:51] samuelgarcia commented on #225
For convertion stuff you should go for neo directly I think...
neo is more stable and have more feature (multi segment, multi sample rate, annoation, array_annoations, lazy loading...)

About the neo layer inside spikeextractors, I can't promise deadline, I hope I will start this this autumn. We have a lot of stuf  in neo, we are about to release the 0.8.

After the relase I plan to start the laye

[2019-09-25 09:57] samuelgarcia commented on #225
@alejoe91 : I would prefer to make something strong more something quick.
My final goal is to move all readr of extractor inside neo. And each extractor would be a thin class that wrapp another neo class.
The multi segment/multi sampling rate/ have to be deal carrfully, in short in that case we must have a system of option to select the desired analogsignal when there are several.

[2019-09-25 11:19] bendichter commented on #225
It looks like neo's `neuralynxrawio.py` only supports reading neuralyx, not writing. Is there a plan for supporting write?

[2019-09-25 11:33] samuelgarcia commented on #225
No writting to proprietary format is hudge, dangerous and useless task ...
Reading is already super difficult and specifically to maintain because all theses format evolve in times with versions...

[2019-09-28 15:11] alejoe91 commented on #225
@bendichter for now we could maybe use the neo IO as a template to make a RecordingExtractor. that should be relatively quick

[2019-09-30 09:34] Shawn-Guo-CN opened #268 "request: multi strams in MCSH5RecordingExtractor"
Support loading multiple streams instead of just *stream 0* in MCSH5RecordingExtractor.

[2019-10-17 11:01] #223 closed

[2019-10-24 12:07] alejoe91 opened #281 "NwbExtractor fails as session and identifier are not set"
In `write_recording` and `write_sorting`, `session_description` and `identifier` are set to `''`. However, this results in an Error when attempting to open the file with pynwb or when writing sorting data on a file created by `write_recording`.

Suggested fix:
- add `session_description` and `identifier` as optional args in the write functions
- if None (by default) use `no description` and a rand

[2019-10-24 12:14] alejoe91 commented on #281
Also this line: https://github.com/SpikeInterface/spikeextractors/blob/master/spikeextractors/extractors/nwbextractors/nwbextractors.py#L183

Should be:
spkt = sorting.get_unit_spike_train(unit_id=id) / fs

Making a PR now

[2019-10-24 12:21] alejoe91 commented on #281
https://github.com/SpikeInterface/spikeextractors/pull/282

[2019-10-25 07:38] samuelgarcia commented on #170
Soon. Soon.
I am totally busy on other project but I will be back.
:)

[2019-10-25 23:03] seancav1967 commented on #281
Please remove all bugs

[2019-10-26 00:00] bendichter commented on #281
@alejoe91 yes, sounds great

[2019-10-26 09:23] rexing321 commented on #268
Looking like anything der

[2019-10-26 09:23] rexing321 commented on #268
Hello

[2019-10-26 09:47] chandrahas00 opened #283 "how to connect mobile to the internet without using wifi/sim card"

[2019-10-26 09:57] #283 closed

[2019-10-26 10:43] alejoe91 opened #284 "NwbSortingExtractor is not implemented"
@bendichter @luiztauffer
Can you help me out with this? How do you read units with pynwb?

When I try to access nwbfile.units I get 'Not a dataset'

[2019-10-26 10:48] alejoe91 commented on #281
https://github.com/SpikeInterface/spikeextractors/pull/282

[2019-10-26 10:48] #281 closed

[2019-10-26 11:03] alejoe91 commented on #284
Ok I can retrieve the spike times with `nwbfile.get_unit_spike_times('id')` but is there a way to query which ids are there? I can see it in the h5 file (['units']['id']), but I can'æt find a way to load it from pynwb..

[2019-10-28 14:51] Shawn-Guo-CN opened #286 "MEArecSortingExtractor.write_sortings() would fail if no unit in the sorting"
If the sorting we want to write has no unit in it, then MEArecSortingExtractor.write_sortings() would fail, as there is `duration = np.max([st.t_stop.magnitude for st in spiketrains])` and `spiketrains` would be an empty list.

[2019-10-29 12:40] McD-NMI commented on #170
I was reading the Neo documentation recently though, and, it seems like the NeoHdf5IO module is only for reading from older Neo H5 files, and for writing they suggest using NIXIO module. I'm not sure if the plan was to make a Neo H5 extractor... or an extractor that can make use of any of the NeoIO modules? It seems that perhaps Neo data structure is beign replaced by Nix?

[2019-10-29 12:50] samuelgarcia commented on #170
NeoHdf5IO is old. Its was kept for backward compatibility.

Some time ago Andrew Davison planed to make a new NeoHdf5IO with neo object model that would have both reading/writting ability and that would be a very simple transcription into HDF5 of the neo tree Block>Segment>(AnalogSignal, SpikeTrain, Event, Epoch) with all annotation and array_annotation features.
I don't think he will have time to

[2019-11-01 19:10] yarikoptic opened #290 "Provenance information records "interface""
It would be great if provenance information about algorithm and its parameters, or even possibly loose human description (from manual curation) was recorded alongside with the actual outputs of spike extractors.  Are there already such records available in any file format/extractors "output/protocol" and could be transferred/converted from one format to another?

In NWB there is only `/general/sou

[2019-11-01 20:17] colehurwitz commented on #290
This is a good idea. I imagine that the spikesorters can store the provenance in the SortingExtractors upon completion. Then SortingExtractors can save the provenance.

[2019-11-04 16:21] colehurwitz commented on #290
I was thinking something like a `sorting_provenance` dictionary in a SortingExtractor that is empty by default, but can be added to by sorting algorithms.

What NWB decides to do with this information (PROV, etc.) can be done outside of spikeextractors with this dictionary then?

[2019-11-04 16:22] colehurwitz commented on #290
I am afraid that I am not too familiar with ASDF or PROV so I couldn't follow the thread you referenced very well.

[2019-11-04 18:39] yarikoptic commented on #290
neither am I . Learning as I go ;)

I am afraid that it might take awhile to get provenance formalized at official NWB level. Meanwhile it would be nice and sufficient to store the record as some ad-hoc record so later we could have recovered all needed information and converted to proper nwb provenance.
ATM a single legit place with .nwb seems to be the `/general/source_script` field:

[code]
so

[2019-11-04 20:03] colehurwitz commented on #290
I think `sorting_spec` and `software_prov' can be created automatically by a spike sorter and the stored in the sorting extractor and also written into the output folder:

[code]

[2019-11-04 20:12] colehurwitz commented on #290
Btw, spikeextractors just has file IO. The spikesorters repository has all spike sorting algorithms and code.

[2019-11-08 16:23] samuelgarcia opened #296 "_export_prb_file should not use the group property automatically."
@alejoe91
About the bug you told me.

here the problem:

https://github.com/SpikeInterface/spikeextractors/blob/master/spikeextractors/extraction_tools.py#L408

**_export_prb_file** always construct group when 'group' is present the recording property.
And so if the sorter still have **grouping_property=None** then it is totally inconsistent.

We must add a key grouping_property in **_export_prb_f

[2019-11-13 13:10] luiztauffer opened #298 "sorting.get_unit_spike_features() does not work as intended with frame ranges"
I believe `sorting.get_unit_spike_features()` method is not working as intended when the user specifies a frame range.
I think the problem is in this line:
https://github.com/SpikeInterface/spikeextractors/blob/58fafe687ebb828fb465bc7240caf05bbd662d78/spikeextractors/sortingextractor.py#L157

Shouldn't only the indexes of spikes that fall within the defined range be used here instead of the frame

[2019-11-13 13:16] colehurwitz commented on #298
Yes, I think you are right! This line doesn't make sense since it is trying to index the actual feature. I can fix this.

[2019-11-13 13:31] alejoe91 commented on #298
@luiztauffer thanks for spotting this and @colehurwitz for fixing :)

[2019-11-13 14:09] colehurwitz commented on #298
Fixed! #300

[2019-11-13 14:09] #298 closed

[2019-11-16 06:58] luiztauffer opened #302 "ValueError: high is out of bounds for int32"
https://github.com/SpikeInterface/spikeextractors/blob/b9e02d348d6968586575d5decebde7dd55d1d523/spikeextractors/sortingextractor.py#L21

When executed, this line is raising the error:
`ValueError: high is out of bounds for int32`

I'm submitting a simple fix with
`self.id = np.random.randint(low=0, high=9223372036854775807, dtype='int64')`

[2019-11-17 19:14] #302 closed

[2019-11-18 08:15] Marrekko opened #304 "Spyking Extractor data read"
Hey there,

first thanks for the great work on this project! I'm new to python based analysis, so excuse me as that might be a minor issue.  I want to use the spikeinterface toolkit for postprocessing and other things. However, I'm having problems to read my Spyking Circus output using the Spyking Extractor.

throws me a

So I wonder, why the SKC Extractor works with the Numpy Extractor in the end

[2019-11-18 08:24] alejoe91 commented on #304
Hi @Marrekko

Spykin Circus supports several input formats. In our python wrapper we use npy format so the RecordingExtractor expects that. I agree that this could be improved to read the format from the params and use the right extractor accordingly. What type of input format do you use?

Note that the hdf5 format is used for the sorted data. The input data are provided externally. If you used th

[2019-11-18 08:32] #296 closed

[2019-11-18 09:10] samuelgarcia commented on #304
Hi @Marrekko.
I think you are mixing up RecordingExtractor  and SortingExtractor.
hdf5 is the internal format for SC.

The input of spykingcircus wrapper is a always RecordingExtractor (all format).
In any case internal the recording is copied inside the working the folder.
So the input format (npz) do not matter so much.

[2019-11-18 09:18] alejoe91 commented on #304
@samuelgarcia I think @Marrekko was trying to import some of his already sorted data in spikeinterface. We also have a SCRecordingExtractor, but it assumes that the data have been sorted with spikeinterface

[2019-11-18 09:28] samuelgarcia commented on #304
OK sorry.

[2019-11-18 09:42] Marrekko commented on #304
Hey Alessio and samuel,
Thanks for your superfast Answer!
Yes, I'm working with MCS generated binary data and reading of the recording with `se.BinDatRecordingExtractor` works fine, as well as reading of the sorted data with the `se.SpykingCircusSortingExtractor` . Pretty simple to just split that up manually. Solved.
Thank you!
PS: Yeah would be cool to give the SCSExtractor the ability to readou

[2019-11-18 10:12] alejoe91 commented on #304
@Marrekko great that it's solved. Your input data actually are not in SC format. They are binary and SC can read it. The SCRecordingExtractor was designed to retrieve the recording and sorted data from the folder created using spikeinterface, that's why it's so specific. I think it's a good practice to decouple the loading of the recording and the sorting.

Ler us know if you find other issues! Cl

[2019-11-18 10:12] #304 closed

[2019-11-21 08:46] #186 closed

[2019-11-27 12:04] alejoe91 commented on #284
https://github.com/SpikeInterface/spikeextractors/pull/299

[2019-11-27 12:04] #284 closed

[2019-11-27 15:01] samuelgarcia opened #308 "from hdmf.data_utils import DataChunkIterator"
from hdmf.data_utils import DataChunkIterator have been added in NWB.

I think this imports "hdmf" should be optional and not imposed.

[2019-11-27 15:01] samuelgarcia commented on #308
See #307

[2019-12-02 23:41] yarikoptic commented on #290
which makes it even more fun as to how much provenance information it is needed to record ;)

[2019-12-03 07:46] samuelgarcia commented on #290
Hi all.
One key for this is the serialization into json (or equivalent) of
extractors.

I already need this feature for the launcher to create a queue task list.

Le mar. 3 déc. 2019 00:41, Yaroslav Halchenko <notifications@github.com> a
écrit :

[2019-12-03 12:10] #308 closed

[2019-12-06 18:52] sbtnRey opened #310 "request: Simple examples on Docs for loading custom data (i.e NumpyRecordingExtractor/NumpySortingExtractor)"

[2019-12-09 19:02] sbtnRey opened #311 "Request: NeuroexplorerExtractor (.nex)"

[2019-12-09 19:18] samuelgarcia commented on #311
I think with the neo wrapper #291 it will be easy because neo have already a neuroexplorer IO.
Could you try the neo io to check that it is still working ?

[2019-12-15 18:00] mhhennig commented on #310
How do you want to use this, what would be useful to show?

[2019-12-17 20:37] sbtnRey commented on #310
Primarily how custom data should be formatted for the numpy extractor (i.e data structure format for channel values)

[2019-12-18 15:08] alejoe91 commented on #310
Hi @sbtnRey

If I understand correctly, you have data loaded in memory (a numpy array) and you would like to create a NumpyRecordngExtractor object?

In this case, you can check out [this tutorial](https://spikeinterface.readthedocs.io/en/latest/modules/extractors/plot_1_recording_extractor.html#sphx-glr-modules-extractors-plot-1-recording-extractor-py). You need to provide the timeseries and samp

[2019-12-23 20:39] sbtnRey commented on #310
Yeah, that was exactly what I needed. Thank you!

[2019-12-25 15:38] #310 closed

[2020-01-06 09:23] samuelgarcia commented on #224
Hi @bendichter.
Could you test the PR #291 ?
Plexon is implemented with a neo wrapper.
Cheers
Samuel

[2020-01-06 09:26] samuelgarcia commented on #224
THere is a travis bug due to PyQT5.
Maybe we can force a version for this or wait a bit.

[2020-01-15 10:17] yarikoptic opened #313 "[new interface] MatClust"
I saw https://www.mathworks.com/matlabcentral/fileexchange/39663-matclust used in a recent paper https://www.sciencedirect.com/science/article/pii/S0896627319307858?via%3Dihub , seems to be not interfaced here.  But also I am not sure if matclust is primarily for "assisted" and not automated sorting.

[2020-01-15 10:18] mhhennig commented on #313
Moved over to SE, for possible inclusion of relevant extractor.

[2020-01-22 14:00] samuelgarcia commented on #214
@alejoe91 : any comments ?

[2020-01-22 15:04] samuelgarcia commented on #214
ok but put neo before this :)

[2020-01-29 17:10] alejoe91 commented on #214
I'll make a draft PR for this very soon with a minimal example

[2020-01-30 18:07] #311 closed

[2020-02-02 10:09] benefron opened #318 "Openephys parallel"
Hi,
Is there a way to run the extractor in parallel for each electrode file?
Ben

[2020-02-02 10:10] alejoe91 commented on #318
Hi Ben,

Unfortunately no. I highly recommend saving in binary format instead if openephys so that the data are memmapped.

Cheers
Alessio

[2020-02-02 10:12] benefron commented on #318
so change data I already have to binary? so it can run efficiently on HPC?

[2020-02-02 10:16] alejoe91 commented on #318
I don't think you can change the data you have to binary. But if you will acquire more data I recommend binary :)

[2020-02-02 10:18] benefron commented on #318
what about this in the extractors:
write_to_binary_dat_format(self, save_path, time_axis=0, dtype=None, chunk_size=None):
     '''Saves the traces of this recording extractor into binary .dat format.

[2020-02-03 11:33] alejoe91 commented on #318
Hi @benefron unfortunately that won't work, because in order to write_to_binary you have to load the data into memory. Then you can save to binary and if you load it another time this will speed up things a lot

[2020-02-03 12:32] benefron commented on #318
It might be good for me. I will save it to binary on my desktop and on the HPC run the binary file.
Thanks

[2020-02-03 12:32] #318 closed

[2020-02-18 20:58] bendichter opened #320 "error converting from OpenEphys to NWB"
It looks like there is an issue converting from OpenEphys to NWB when location information is missing:

[code]

[code]

Similar error when requesting location from the `OpenEphysRecordingExtractor` object:

[code]

[code]

[2020-02-18 20:58] bendichter commented on #320
@luiztauffer

[2020-02-22 20:25] colehurwitz opened #323 "Master branch failing NWB test despite the merged PR passing"
It seems that the NWB test is failing for some reason on master branch (despite the PR I merged passing the same test). Could you take a look? @bendichter @luiztauffer

[code]

[2020-03-06 10:25] alejoe91 commented on #323
There is also another error now:
https://travis-ci.org/SpikeInterface/spikeextractors/builds/659091279#L467-L544

probably due to a new pynweb version? we can disable it for now @colehurwitz

[2020-03-06 12:58] colehurwitz commented on #323
Ok, that is a good idea

[2020-03-15 17:01] bendichter commented on #323
@colehurwitz Thanks for the report. We added columns rel_x and rel_y to the electrodes table. In a recent release, pynwb added these cols, so now we are adding columns that already exist. We are working on pynwb to fix this so it doesn't throw an error and we will work on this repo so that it works across versions of pynwb, including the current one.

[2020-03-24 16:35] llobetv opened #336 "Some precision in the doc for MountainSort/SpikeInterface"
Hi first thank you for this great works, it will really make my life simpler!

I try to use spikeinterface for mountainSort and I encounter sevral issue that could be easily be add in the doc for futur users:
1. I needed to change temp folder for mountainSort, there was no var for that, I manage to do it with thisd command : os.environ['TEMPDIR'] = "/mnt/hdd/mountainlab/mountainlab/"
2. In tutoria

[2020-03-24 17:02] alejoe91 commented on #336
Hi @llobetv

Thanks for the interest and the support.

1. For the mountainsort4 issue, can you open it here: https://github.com/magland/ml_ms4alg? It's not related to SpikeInterface directly, but I agree that it would be nice to be able to point to a local directory.

2. Thanks for spotting it! I will modify the docs and use `recording_prb` for further steps.

Cheers,
Alessio

[2020-03-26 06:56] luiztauffer commented on #320
I think this should be fixed with the changes in #309
can you share a file so I can test it?

[2020-03-26 07:51] luiztauffer commented on #323
This is the current state on the issue:

- `rel_x`, `rel_y` and `rel_z` were included in the latest pynwb release (1.3.0) as pre-existing optional arguments for the electrodes table. Therefore, for `pynwb==1.3.0` we shouldn’t create these columns, but instead simply pass them as arguments when adding electrodes to the table. The current version is problematic though (see https://github.com/Neuroda

[2020-03-27 13:33] #320 closed

[2020-03-27 13:56] bendichter commented on #323
this should be fixed now

[2020-03-30 13:47] #323 closed

[2020-03-30 13:49] alejoe91 commented on #290
@yarikoptic

We made some progress in provenance! now each extractor has an attached dictionary that keeps track of everything that the extractor goes through (by nesting several dictionaries with kwargs of each processing step). This makes it possible to dump to json any extractor and load it back quickly. Similarly, each spike sorter now saves a json file with its version and params.

[2020-03-30 14:27] yarikoptic commented on #290
That is great @alejoe91 , thank you! Could you point me to some quick example or just paste it here to appreciate the new feature? ;)

[2020-03-30 14:37] alejoe91 commented on #290
I'll update the docs in a few days :)

In brief, at any point in the pipeline you can call (same holds for SortingExtractors):
[code]
The dictionary will contain the `class` name, `module` (spikeextractor or spiketoolkit), `version`, and `kwargs`. Note that if a keyword arg is an extractor, we dump the serialized dict of that extractor.

You can reload the extractors with:
[code]

This mechanism a

[2020-03-30 17:47] yarikoptic commented on #290
Cool.  Pardon my ignorance -- does it mean that every `sorting` output (like in an example above) would have enough of provenance information (also in a data file when stored) to produce such provenance record? (I could just wait for documentation piece to come so you don't need to preclude it by answering here)

[2020-03-30 17:49] alejoe91 commented on #290
Yes! As long as the underlying file/folder is not deleted. Currently this is supported for all extractors, preprocessors, and automatic curators (e.g. removing units below some SNR). Basically the provenance record is the json file. Note that the transition between the recording and the sorting can be reproduced using the log and params files generated by the spike sorting run :)

[2020-03-31 09:57] llobetv opened #344 "export_to_phy - BinDatRecordingExtractor - TypeError: data type "<class 'numpy.int16'>" not understood"
Hi guys,
I just got this error after updating spikeexctractor, it appears that dtype np.int16 doesn't work anymore for export_to_phy coupled with BinDatRecordingExtractor. I also try with "int16" and It return me a bus error.

Traceback (most recent call last):
  File "spikeinterface_class.py", line 132, in <module>
    si.run_ms(file_path, prb_file, ms4_params, numchan, sampling_frequency,
  File

[2020-03-31 10:03] alejoe91 commented on #344
Hi @llobetv, what code are you running exactly?
What is your extractor? I'll try to reproduce the error and fix it.
I think that the problem is that the dtype is dumped as a 'class' rather than a string.

[2020-03-31 10:09] alejoe91 commented on #344
Ok I found the issue. Give me 15 min :)

[2020-03-31 10:10] alejoe91 commented on #344
and thanks again for stress testing the code!!

[2020-03-31 10:15] llobetv commented on #344
Just when I ended my answer, you are too fast.

No problem, you are the one doing the job for us..., thanks :)

[2020-03-31 10:17] alejoe91 commented on #344
Can you test if this fixes it? https://github.com/SpikeInterface/spikeextractors/pull/345

[2020-03-31 11:36] llobetv commented on #344
It fix the bug but now I got Bus error after several waveform extractions, I'll check that and keep you informed.

Waveform 1/238
Waveform 2/238
Waveform 3/238
Waveform 4/238
Waveform 5/238
Waveform 6/238
Bus error

[2020-03-31 11:42] llobetv commented on #344
I didn't see .raw file of waveform exctracted being created anymore

[2020-03-31 12:01] alejoe91 commented on #344
HI @llobetv then I'll merge the PR. I don't think the problem is related to it.
Let's move this conversation to spiketoolkit

[2020-03-31 12:02] #344 closed

[2020-03-31 12:03] alejoe91 commented on #225
implemented

[2020-03-31 12:03] #225 closed

[2020-03-31 12:03] alejoe91 commented on #224
implemented

[2020-03-31 12:03] #224 closed

[2020-03-31 12:04] alejoe91 commented on #214
implemented

[2020-03-31 12:04] #214 closed

[2020-04-07 10:27] TRuikes opened #353 "Proposal: add 'cluster_group' and 'kwik_id' properties to klustaextractors"
Hi!
Let me just start with that I'm not sure where to post this. If you would like me to communicate through another channel, let me know!

We are mostly working with klusta, while working with klustaextractor, I noticed the 'cluster_group' property was not available, which is the 'quality' you manually assign in the GUI (good/bad/noise). Instead the units have the 'group' property, which is the '

[2020-04-07 12:52] alejoe91 commented on #353
Hi @TRuikes

Thanks for reporting this. In the `PhySortingExtractor` we load the `channel_group` as `group` (which we internally use for channel groups), and the `cluster_group` as `quality`. Would that work? In that case I can implement these changes, unless you want to make a PR :)

[2020-04-07 17:57] TRuikes commented on #353
yes should work fine! thanks

[2020-04-08 10:38] TRuikes commented on #353
I've prepared a branch with an updated klustaextractor (trying to keep the original code intact). Now when I want to push my branch to origin, I'm getting an 'unable to access' error. Could you give me permission to push a branch?

[2020-04-08 11:27] alejoe91 commented on #353
Hi @TRuikes

You should make a fork and make the PR from your fork :) can you do that?

[2020-04-08 14:16] TRuikes commented on #353
right; forking. expanding my git skills daily now, thanks. I gave it a try in #354

[2020-04-08 14:19] #353 closed

[2020-04-20 11:58] Dradeliomecus opened #361 "PhySortingExtractor.write_sorting does not work"
Hi,

The PhySortingExtractor does not work with my data.
Here is my testing code:
[code]

At first, this doesn't work because params.py is wrong (it only contains the sampling_rate, and not the dtype or anything else. After copy pasting params.py, channels_map.npy and channels_positions.npy to the test folder, `phy template-gui params.py` returns the following error:

[code]

[2020-04-20 12:00] alejoe91 commented on #361
Hi! As shown in the docs you should use the spiketoolkit.postprocessing.export_to_phy function. I agree the write_sorting is confusing, so I'll just remove it :)

[2020-04-20 12:01] Dradeliomecus commented on #361
Oh ok, thank you!

[2020-04-20 12:01] #361 closed

[2020-04-20 21:01] yarikoptic opened #364 "NeuralynxRecordingExtractor: not usable?"
I am trying to try to use spikeextractors to load some data from Neuralynx .
Sample data is available from  http://datasets.datalad.org/?dir=/labs/mvdm/MotivationalT-v2/  via DataLad or get a sample file manually by  visiting that page and getting the one you like.

With #363, if I try to provide extractor a filename or directory name - it fails with an error that too many arguments, but if I prov

[2020-04-20 21:07] alejoe91 commented on #364
Hi @yarikoptic

Probably @samuelgarcia knows what's going on!

Thanks for the other PR.
Merging first thing tomorrow

Alessio

[2020-04-20 21:18] yarikoptic commented on #364
but in principle -- from the docstring I couldn't figure it out  from the docstring (generic abc thingie) , it seems that the issue is in the constructor way up since I should have provided some path to the extractor.

[2020-04-20 21:24] alejoe91 commented on #364
It should get the same args as the neo constructor, but there night be something wrong. I agree that the docstrings should be improved! @samuelgarcia

[2020-04-20 22:22] yarikoptic commented on #364
ok, the issue is that it expects it to be a keyword argument, thus it has to be
[code]
not just
[code]
So it is I guess is partially a user error ;-)  ideally should be resolved by an error message which has a hint on how I screwed up and/or docstring.

Next one:
[code]
which might to fall under spikeextractors umbrella -- if neo wants a directory (not just a file)... is there a way to point to a

[2020-04-21 06:30] samuelgarcia commented on #364
Hi @yarikoptic.
Yes neo deal with folder based or file based datset. this is why you need to provide the karg (direname or filename).
We could do it automatic.

For the second error. Neo deal with multi segment multi sample rate because it render a tree of objects. In case of one AnalogSignal it is easy but when there are several objects you need to specify  ```block_index=0, seg_index=0```

I wou

[2020-04-21 06:33] samuelgarcia commented on #364
Note that the wrapper neo<->spikeextractor is very simple at the moement
see https://github.com/SpikeInterface/spikeextractors/blob/master/spikeextractors/extractors/neoextractors/neobaseextractor.py#L29

[2020-04-21 16:50] yarikoptic commented on #364
thank you!  `extractor = se.NeuralynxRecordingExtractor(dirname=op.dirname(sample_file), block_index=0, seg_index=0)` worked (in a sense that it didn't crash).

Since original questions were answered and I got extractor instantiated, I will close this issue now.  But hopefully it would serve as an inspiration (and reference) to get those neo based extractors usable more easily (e.g. via better doc

[2020-04-21 16:50] #364 closed

[2020-04-21 16:53] yarikoptic opened #367 "NeuralynxRecordingExtractor().dump_to_json() leads to TypeError"
Wanted to see at least some info about my new extractor (beyond default repr with an id), so tried dump_to_json:

[code]
which lead to
[code]
ref: follow up to #364

[2020-04-21 17:06] alejoe91 commented on #367
Can you try `extractor.dump_to_dict()`?

What's the output of `type(extractor)`?

[2020-04-21 17:09] alejoe91 commented on #367
Are you able to retrieve the traces, channel_ids, sampling frequency etc.? Or does it always give this error?

[2020-04-21 17:15] yarikoptic opened #368 "'NeuralynxRecordingExtractor' object has no attribute 'get_unit_ids'"
on data from  http://datasets.datalad.org/?dir=/labs/mvdm/MotivationalT-v2/R050/R050-2014-03-31_raw

[code]
leads to (so plot_timeseries works, plot_rasters bugs out):
[code]

[2020-04-21 17:17] alejoe91 commented on #368
Ok that's a recording extractor so it should not have units. That's correct. But the plot_timeseries worked?

[2020-04-21 17:20] yarikoptic opened #369 "Neuralynx: ss.run_klusta() crashes on Neuralynx data due to broadcasting issue"
NB sorry for the flood

[code]
leads to
[code]
full ipython notebook (with references to data source): https://github.com/vandermeerlab/data-formats/blob/HEAD/yoh_try_spikeinterfaces.ipynb

[2020-04-21 17:21] alejoe91 commented on #367
can you try this as well: `print(extractor.dump_to_json('test.json'))`? we might be missing a `str` there :)

[2020-04-21 17:22] alejoe91 commented on #369
I think I fixed that [today](https://github.com/SpikeInterface/spikeextractors/pull/366)! basically parsing the `dtype` string to a `np.dtype`. Can you pull the latest spikeextractors master?

[2020-04-21 17:32] yarikoptic commented on #369
Great, thanks @alejoe91 , ... I think I have done everything correctly to "enable" most recent changes (hard to say since `__version__` doesn't incorporate git describe), but seems to be the same.  updated that notebook with some versioning information I have tried to show to assure that have up to date spikeextractors

[2020-04-21 17:39] alejoe91 commented on #369
Hi @yarikoptic, I pushed something like one hour ago, but the problem seems to be neo-related (sorry I went through the error trace quickly). I will need to ask @samuelgarcia..can you try to manually change the line that throws the error to:
`scaled_traces = np.array(scaled_traces) * self.additional_gain`?

Also, what is the output of `extractor.additional_gain`? Sorry, but I have little experienc

[2020-04-21 17:40] yarikoptic commented on #367
thanks! providing a file name produced it and didn't crash.
```recording.dump_to_dict()``` also worked! thanks.

I would keep this issue open, since IMHO either it should fail with descriptive exception (that filename is required) or return string json record.

[2020-04-21 17:41] yarikoptic commented on #368
yeap, as could be seen on https://github.com/vandermeerlab/data-formats/blob/HEAD/yoh_try_spikeinterfaces.ipynb (sorry -- forgot to paste in this issue)

[2020-04-21 17:54] alejoe91 commented on #367
I think this PR https://github.com/SpikeInterface/spikeextractors/pull/370 should fix it :) Can you double check?

[2020-04-21 19:07] samuelgarcia commented on #364
Yes of course.
Neuralynx is indeed folder based so ```dirname``` is mandatory.
Some file format like spike2 smr are file base so in that case ```filename``` is mandatory.

This neo extractor bridge is a proof of concept waiting for users.
I think you are the very first one.
I need to celebrate that by writting some docs.

[2020-04-21 19:10] samuelgarcia commented on #369
The bug is in neo bridge I need to fix.
It is a broadcast problem for the gain.

[2020-04-21 19:25] samuelgarcia commented on #369
This bug is really strange.

Can you do
[code]

Or send me the file please ?

[2020-04-21 22:24] yarikoptic commented on #367
Checked -- both #370 and #372 fix the issue (to the degree that it doesn't crash and saves to default filename in current directory far far away from data or anything related ;))

[2020-04-21 22:25] yarikoptic commented on #368
so any ideas on how to resolve/progress forward?

[2020-04-21 22:29] alejoe91 commented on #368
I don't see the big here. From the notebooks the error seems to be a duplicate of https://github.com/SpikeInterface/spikeextractors/issues/369#issuecomment-617365173

[2020-04-21 22:30] yarikoptic commented on #369
The entire directory (AKA folder) is available at http://datasets.datalad.org/?dir=/labs/mvdm/MotivationalT-v2/R050/R050-2014-03-31_raw since I am not sure which specific file is in question (optimal way to get the folder is via datalad or git + git-annex calls, but individual files could be fetched from the web as well).  Not sure if it would fit via email.  I guess I could also upload it somewhe

[2020-04-21 22:35] alejoe91 commented on #368
Just to be clear: plot_raster expects a SortingExtractor object, and here you are passing a RecordingExtractor

[2020-04-21 22:35] yarikoptic commented on #369
oh -- I should have "seen" this -- it seems to resolve it, the thing is running now and laptop is getting noisier ;-)

[2020-04-21 23:00] yarikoptic opened #373 "opinion: temporary should go to TMPDIR, explicit path for "valuable" data, study dir?"
With the help on other issues (thanks @alejoe91 and @samuelgarcia) the dummy user progressed to the point of actually running a spike sorting! whoohoo.

While running it I spotted:
[code]
and similarly to my whining about `.json` representations of extractors being dumped into current directory (which might have nothing to do with spike interfaces, or not even be writeable), I would like to bring

[2020-04-22 00:05] yarikoptic commented on #368
d'oh -- right -- I see that now on https://spikeinterface.readthedocs.io/en/latest/getting_started/plot_getting_started.html .  Adding a check alike `if not isinstance(whateverpassed, SortingExtractor): raise ValueError("Please pass an instance of a SortingExtractor not %s" % whateverispassed)` would have prevented me tripping over it.  Feel welcome to close as is or with a suggested "fix".

[2020-04-22 00:10] yarikoptic commented on #368
another nice user-friendly enhancement could be to bind all those `plot_` functions to corresponding classes upon import of the `spikeinterface.widgets` so I could just use `.plot<TAB>` to complete for available plotting functions in a corresponding class

[2020-04-22 08:08] alejoe91 commented on #368
I think this is a good idea for the `spikewidgets` package. We should add some assertions in general

[2020-04-22 08:08] alejoe91 commented on #368
Maybe we could do it with a lazy load, but honestly I believe that the widget naming and docstring are quite explanatory :)

[2020-04-22 08:11] alejoe91 commented on #373
HI @yarikoptic

Indeed that's the default naming of the output folder, and I agree that it's not the best choice. `klusta_output` or `si-outputs/klusta` as you suggest is a better naming. Will migrate this issue to `spikesorters`

[2020-04-22 08:42] samuelgarcia commented on #369
In this output additional_gain.shape looks good.

There is a bug in NeoBaseRecordingExtractor when channel_ids is not None (all channel), additional_gain must be reduce.

I think it was the bug add at the begining.

I will try to fix it.

[2020-04-22 10:53] #367 closed

[2020-04-22 12:05] alejoe91 commented on #369
Fixed here https://github.com/SpikeInterface/spikeextractors/pull/375

[2020-04-22 12:06] #368 closed

[2020-04-22 16:47] yarikoptic opened #378 "Q: how to aggregate/pass multiple Neuralynx blocks/segments to sorting?"
As identified in #364, should extract a single block/segment.  But if recordings come from the same electrodes location, it makes sense to pass all the data into spike sorting.  How to achieve that?

[2020-04-22 16:52] yarikoptic commented on #364
I guess underlying classes know what they need, so they could complain (well -- crash) informatively (with smth like "Neuralynx requires dirname to be provided, not filename") whenever dumb users like me use an incorrect one ;-)

[2020-04-22 16:53] alejoe91 commented on #378
You can easily concatenate recordings in time using the [`MultiRecordingTimeExtractor`](https://github.com/SpikeInterface/spikeextractors/blob/master/spikeextractors/multirecordingtimeextractor.py)

It takes a list of RecordingExtractors as input and concatenate them in time. It is still a RecordingExtractor, so it can be spike sorted as it is

[2020-04-22 18:27] samuelgarcia commented on #364
Yes but at the moment the bridge is totally generic and don't have this kind of sugar but easy add.

[2020-04-22 18:36] samuelgarcia commented on #364
BTW, you should test tridesclous

[2020-04-22 20:39] aliddell opened #379 "memmapped spike features and `get_unit_spike_features`"
JRCLUST stores some raw and filtered spike traces in large binaries, formatted `n_samples x n_channels x n_spikes` (I guess you'd call them snippets). I'd like to be able to access these traces as unit spike features, but in the current framework it doesn't seem possible to do this without reading everything into memory. Here's how I was thinking of tackling this:

- For each unit, store either a

[2020-04-22 21:30] yarikoptic commented on #364
looks interesting indeed, you are doing great job ;) will its sorter be interfaced in spikeextractors as well?  ATM my goal is largely to establish baseline pipeline mimicking what specific lab was doing in matlab, and then formalize it into using .nwb files. I personally do not research ephys.

[2020-04-22 21:37] alejoe91 commented on #364
It's already interfaced! :)

[2020-04-22 21:48] yarikoptic commented on #364
oh ;)

[2020-04-22 22:00] yarikoptic commented on #378
cool, thanks! I will give it a shot

[2020-04-22 22:00] #378 closed

[2020-04-22 22:18] alejoe91 commented on #379
Hi! You can actually do it. The extractors have a function called allocate_array that creates a memmap file of a given shape. You can then set the features with the memmap object. See how it's done in the spiketoolkit.postprocessing.get_unit_waveforms :) I'll tell you more tomorrow..getting late!

[2020-04-22 22:21] #369 closed

[2020-04-22 22:23] #170 closed

[2020-04-22 22:24] #290 closed

[2020-04-23 07:45] samuelgarcia commented on #364
We have interfaced all sorters that are benchmarked in [spikeforest](https://spikeforest.flatironinstitute.org):

kilosort (matlab + cuda)
kilosort2 (matlab  + cuda)
ironclust (matlab  + cuda)
herdingsspikes (python + c++)
spykingcircus (python + mpi)
klusta (python)
moutainsort4 (python)
tridesclous (python + opencl opentional)

You need to change only one line to change to try each then.

Have y

[2020-04-23 07:47] samuelgarcia commented on #378
Note that MultiRecordingTimeExtractor is not totally ideal because it is a virtual concatenate of all segment which is not so good for filter border effect.
The cool thing is that you can do multi segment sorting with sorters that do not handle it natively.

[2020-04-23 14:50] yarikoptic commented on #364
I think I have spotted preprint appearing but haven't read it carefully yet, thanks for all the help and references!  hopefully next time I will come up with my issues being more "informed" ;-) Cheers!

[2020-04-23 15:06] aliddell commented on #379
This looks like `allocate_array` induces a copy of the original file, which is what you probably want to do when you're overwriting, but the files I'm talking about already exist and I just want to open them up read-only and index into them. From what I can tell, each unit opens a separate file into which spike snippets are extracted. I'm also not sure which indices the `indexes` argument in `set_

[2020-04-27 12:23] llobetv opened #381 "SortingExtractor object, change spike_train"
Hi,
I try for several function (merge, remove redundant, alignement) to change spike_train value from sorting object but it appear that in each sorting object the original spike_train list is save with different name.

What is the best way to have something stable? (switch to sort_cache everytimes?)

Cheer,
Victor

[2020-04-27 12:43] alejoe91 commented on #381
Hi Victor,

Unfortunately as you noticed there is no proper way of changing the spiketrains outside of the curation module of spiketoolkit, and this is the case because we abstract the retrieval of the data with the abstract methods (e.g. `get_unit_spike_train`).

If you have suggestions (like removing duplicates) for some standard modifications they should be implemented in the curation module. F

[2020-04-27 13:51] llobetv commented on #381
OK,
Then we'll probably try to implemented some common function in the curation module,

Thanks

[2020-04-27 13:51] #381 closed

[2020-05-06 02:45] colehurwitz opened #384 "Helper functions for exporting to different formats"
@alejoe91 What do you think about having helper functions for all the exporting to different formats?  Something like: `export_to_format(format_name, **kwargs)` that calls the class methods we implemented already. I got a question about how to export to Neuroscope I think this could be a helpful change for new users.

[2020-05-06 08:47] alejoe91 commented on #384
Hi @colehurwitz

I think that having the write_recording function is enough. We can point to that. The `export` notation is different than the `write` in our case, where `export` combines recording and sorting (as in phy). Let's focus on the new release and the docs before :)

[2020-05-06 08:47] #384 closed

[2020-05-06 10:26] alejoe91 commented on #379
Hi @aliddell sorry for the delay in getting back on this.

You could open the files externally and set them as features. This would keep their memmap nature:
[code]

This way the features are just a pointer to the memmap object. Does this make sense?

In the `spiketoolkit.posptocessing` module we have functions to extract waveforms, compute pc scores, etc. This can also be done on a subset of spik

[2020-05-07 13:42] aliddell commented on #379
[code]

By `num_units` above do you mean `num_samples`? I guess not because of the line  `features = memmap_features[i]  # still a memmap object` (but then how many samples/channel does that yield?). The array is not organized by unit, but rather by the order in which each spike was detected. So if I want to extract spikes by unit, I'd need to use a boolean mask or an array of indices, either way

[2020-05-07 14:11] alejoe91 commented on #379
Hi @aliddell

I think I misread your initial message. In case you had a file with dimensions `(num_units, num_spikes, num_channels, num_samples)` (forgot the last dimension in my code snippet), then it would be possible, but I see that you have all the spikes for all units in a single channel. Sorry about the confusion!

In this case I think that what you suggest can be a viable solution. I think

[2020-05-07 14:22] aliddell opened #387 "AssertionError in KiloSortRecordingExtractor when channel_map is a subset (active channels only) of np.arange(n_channels_dat)"
I don't know when (or if) the `channel_map` format changed from when [this dataset](http://data.cortexlab.net/singlePhase3/) was sorted, but I run into this assertion error when I try to load the dataset with a `KiloSortRecordingExtractor`:

[code]

gives me

[code]

Looking at the code it's not clear to me how the recordings handle inactive channels.

[2020-05-07 14:25] aliddell commented on #379
OK. I have one or two bugfixes for my extractors anyway, I'll submit a PR.

[2020-05-07 14:28] alejoe91 commented on #387
Yep, the extractor assumes that there are no missing channels. Do you know how kilosort handle this?

Maybe just removong that assertion and printing a warning message could work

[2020-05-07 20:49] aliddell commented on #387
If I had to guess, I'd say Kilosort probably does what JRCLUST does and ignores samples from those channels when processing.

I tried replacing the assert with a warn, ran into another assert:

[code]

[2020-05-08 07:50] alejoe91 commented on #387
I see. So in that case we have to access the `self._timeseries` of the provided channels only

`self._timeseries[recording_channels]`

[2020-05-08 12:15] aliddell commented on #387
That's right, that's how I would (and do) access them (`self._timeseries` is `nchannels x nsamples`, correct?).

[2020-05-11 21:09] #379 closed

[2020-05-13 09:25] alejoe91 opened #390 "NwbRecordingExtractor.write_recording() error"
Hi @bendichter @luiztauffer

When I try to export a recording to NWB using pynwb 1.3.0 and hmdf 1.6.1 I get the following error:

[code]

The sorting extractor seems to work fine :)

[2020-05-13 09:30] alejoe91 commented on #390
Here's the full traceback:
`se.NwbRecordingExtractor.write_recording(recording_cache, 'si_tutorial.nwb')`

[code]

The extractor has locations, so I'm not sure why it's failing.

[2020-05-13 10:55] alejoe91 commented on #390
Here is a minimal reproducible example:

[code]

[2020-05-13 14:44] alejoe91 commented on #390
seems related to this: https://github.com/SpikeInterface/spikeextractors/issues/323

[2020-05-13 20:05] ferchaure opened #392 "new extractor requirements"
Hi guys, I want to to make an extractor for wave_clus based on the MATSortingExtractor. Sorry for the lazy question, which should be the minimum amount of methods and attributes implemented?
I guess, that at least:
- get_unit_ids
- get_unit_spike_train
- _sampling_frequency

[2020-05-13 20:07] alejoe91 commented on #392
Exactly ;)

[2020-05-13 20:27] #392 closed

[2020-05-15 09:22] luiztauffer commented on #390
You're right, the problem is that [this bug](https://github.com/NeurodataWithoutBorders/pynwb/issues/1204) wasn't solved yet in `pynwb==1.3.0`
If you try if `pynwb==1.2.1` it should work. I tried with this and it worked:

[code]

[2020-05-15 09:41] alejoe91 commented on #390
Thanks @luiztauffer

However I found that with 1.2.1 groups and locations are not reloaded property. Can you diiuble check that on your side?

The `rec` has locations, and you can add groups with `rec.set_channel_groups([0,0,1,1])`. When I load it back I have nan locations and all groups are 0.

[2020-05-15 10:11] luiztauffer commented on #390
I can reproduce the error also with `pynwb==1.3.0`
If you comment out the lines 364-365 to not pass the arguments rel_x and rel_y, the initial error does not happen.

But the whole problem is we're mapping se location with pynwb rel_x and rel_y, and that will end up reproducing your error with the older version, which is: there's no rel_x/rel_y to be mapped to `_channel_properties[i]['location']`

[2020-05-15 10:12] luiztauffer commented on #390
I also found out that we are saving the location in the wrong place, now the correct place seems to be `self._key_properties['location']`? @alejoe91
If that's the case, I can fix this part right now

[2020-05-15 10:18] alejoe91 commented on #390
Oups I missed that! You can use self.set_channel_locations(location, channel_id). Same for groups (set_channel_groups). Probably that's why they where not loaded properly

[2020-05-15 10:30] alejoe91 commented on #390
@luiztauffer I can quickly fix it, or are you on it already?

[2020-05-15 10:32] luiztauffer commented on #390
be my guest :)
Just make sure for now to use `pynwb=1.2.1`, which creates rel_x and rel_y in a way that won't  raise the initial error.

[2020-05-15 10:33] luiztauffer commented on #390
line 188 also might need a change?
`self._channel_properties[i]['gain'] = gains[ind]`

[2020-05-15 10:39] alejoe91 commented on #390
I'll do it :) I forgot to change it. Properties should be set with the `set_channel_property`

[2020-05-27 16:47] lfrank opened #396 "Request for alternative prb file format"
I'm starting to work with SpikeInterface (and thanks to all of you for developing it) and I found the current prb file hard to work with. It's very close to, but not identical to, a json.dump of a dictionary, which is what I tried first to create it, but of course that didn't work.

As such I had to write more detailed code by hand. It would be great if there were alternative formats supported, in

[2020-05-27 17:24] samuelgarcia commented on #396
@lfrank
Cool. This is something I want since 6 month and I need someone to help for that.
I was not awre of this ndx-fl-novela.

My idea is to have a python module with some classes (Probe but not only) that would represent this problem.

And this problem is not only probe geometry, for a setup it is:
  * several probe geometry handling
  * wiring between probe and recording system
  * channel gro

[2020-05-27 18:05] lfrank commented on #396
Hi Garcia. That all sounds great. I agree that all that information is required; we handle all that with mappings from the NWB electrode table to the probe information and make each ElectrodeGroup a probe.

I will say that I think there is real value in pushing toward NWB as the standard backend for this rather than coming up with yet another format, so if that’s something you’re willing to consid

[2020-06-03 17:52] lfrank commented on #396
Just an update: the current version of our probe extension is available at https://github.com/NovelaNeuro/ndx-franklab-novela

[2020-06-04 00:34] MingChingChiang opened #398 "Suggestions on OpenEphyRecordingExtractor"
Hi,
First of all, thank you for the very helpful tutorial during the NWB user day remote workshop.
I’ve built my analysis pipeline based on the tutorial flow and it worked perfectly with short recordings (~10min long). However, when I attempt to load my 60min, 32 channel recording for analysis, not only the loading is slow but also the system memory exhausted easily, and my IDE just shutdown durin

[2020-06-04 03:42] lfrank opened #399 "NWB file open mode"
Right now NWB files are opened in mode "a", which produces an error if the file is already open somewhere else. The code location is below:

`~/opt/anaconda3/envs/nwbdj/lib/python3.7/site-packages/spikeextractors/extractors/nwbextractors/nwbextractors.py in __init__(self, file_path, electrical_series_name)
    147         se.RecordingExtractor.__init__(self)
    148         self._path = file_path

[2020-06-04 05:00] lfrank opened #400 "Bug in NWB extractor - indeces for electrode table region are not channel_ids"
In the code below the NWBExtractor uses the channel_ids to look up the indeces into the electrode table region of the e-series es. This produces an error for me where my electrode list has gaps (e.g. 1,2,3,5) but the electrodes.data[:] does not, as it indexes into the electrode table, which consists of consecutive entries.

The channel_ids here seem to refer to electrode_ids, which means that the

[2020-06-04 07:59] alejoe91 commented on #399
HI Loren,

See @magland PR: https://github.com/SpikeInterface/spikeextractors/pull/397

Just waiting for @bendichter and @luiztauffer to reply, as they have developed the NWBExtractors

[2020-06-04 08:02] alejoe91 commented on #398
Hi @MingChingChiang

Which open ephys format are you using? If it's the OpenEphys format (not the binary), then unfortunately the data are loaded in full in memory, because different channels are saved in different files. Is this your case? (for the future, I highly recommend using the binary or nwb formats).

For now, you could try to write a script to convert the Open Ephys format to a binary fi

[2020-06-04 08:02] alejoe91 commented on #400
Hi Loren,

Again asking for @bendichter  and @luiztauffer opinion on this :)

[2020-06-04 08:05] samuelgarcia commented on #398
@alejoe91 with a wrapper on top on neo we could avoid the full memory loading. No ?

[2020-06-04 08:35] alejoe91 commented on #398
@samuelgarcia maybe! We would need to keep several files open and retrieve chunks from the different files wheh `get_traces` is called

[2020-06-04 10:14] MingChingChiang commented on #398
Thanks for the response! @alejoe91
We did use Open ephys format instead of the binary or NWB.

And sure I will try to convert those files into binary format or NWB to speed up the analysis process.
Thanks for the advice!

[2020-06-04 13:29] bendichter commented on #399
thanks, @lfrank! I just approved @magland's fix, which should resolve your issue as well. Please let us know if you have any more problems. We would really like to continue to support this platform as a main highway for NWB conversion.

[2020-06-04 13:31] bendichter commented on #390
update: [the real fix for this](https://github.com/NeurodataWithoutBorders/pynwb/pull/1246
) has been merged to dev on pynwb. Once it is released, we can change this code back to accepting the latest version of pynwb, and forbid the specific offending pynwb version.

[2020-06-04 13:35] alejoe91 commented on #399
https://github.com/SpikeInterface/spikeextractors/pull/397

[2020-06-04 13:35] #399 closed

[2020-06-04 13:37] alejoe91 commented on #390
Awesome! I'll start opening a PR and install the dev version to see if it works :)

[2020-06-04 14:14] bendichter commented on #400
Thanks @lfrank. You are correct. We'll make the change

[2020-06-05 14:47] #400 closed

[2020-06-12 07:16] alejoe91 commented on #387
Hi @aliddell

Sorry for the delay here! Exactly the timeseries should have that shape (you can double check).
Were you able to solve the issue? In that case, could you make a PR?

[2020-06-12 07:17] alejoe91 opened #405 "Add Spike2RecordingExtractor"
@samuelgarcia would it be possible to ad Spike2 as a NEO extractor?

@deeptimittal12 would like to use SpikeInterface for their pipelines and some of the files are from Spike2

[2020-06-12 08:37] samuelgarcia commented on #405
I can do it but for @deeptimittal12 it won't solve the problem as she need smrx file wheras smr file only are implemented.

[2020-06-18 18:32] CodyCBakerPhD opened #411 "NeuroscopeSpikeExtractor"
Hello, I was attempting to use the NeuroscopeSpikeExtractor function to retrieve spike times from .res and .clu files for use in the widgets and further processing. I noticed a repetitive error where one of the units, typically the last index, would be non-spiking (spike times array is empty) which causes issues with things as simple as plot_raster.

After digging into it, it seems the issue is wi

[2020-06-19 07:06] #398 closed

[2020-06-19 07:09] alejoe91 commented on #249
@luiztauffer an update on this.

We have now a github.io page (https://github.com/SpikeInterface/SpikeInterface.github.io) that uses nikola and it allows to have several notebooksin the same place: https://spikeinterface.github.io/

Probably this would be a better place to have an SI-NWB tutorial

[2020-06-19 07:11] alejoe91 commented on #336
Fixed in the docs

[2020-06-19 07:11] #336 closed

[2020-06-19 09:38] alejoe91 commented on #411
HI @CodyCBakerPhD

thanks for the report. Actually @alexmorley implemented the NeuroScopeExtractor.

We added now a new [base function](https://github.com/SpikeInterface/spikeextractors/blob/master/spikeextractors/sortingextractor.py#L703) for the SortingExtractor that can return unsorted spikes. This could return the cluster 0.

For cluster 1, we could add an option`keep_mua_units` False by defau

[2020-06-19 16:24] CodyCBakerPhD commented on #411
That sounds like the best option, it should be a pretty easy change to make. Just to make sure I have the process correct, I should make a new branch, commit the changes there, and await comments/testing on your end until you merge it into the master?

[2020-06-19 16:47] alejoe91 commented on #411
You should fork the repo, make a new branch, make the changes, and then make a PR to spikeextractors/master from your fork :)

[2020-06-19 17:31] alexmorley commented on #411
Happy to review. You are right I don't think I considered `0` units in my implementation because we don't use them.

[2020-06-21 16:34] ohnopleasehelpme opened #414 "Help with using neuralynxextractor"
Hello - I am using spikeinterface. So far, I just want to import my code into "recording" variable.

import spikeinterface.extractors as se
import matplotlib.pylab as plt
import numpy as np

directory = '~/PycharmProjects/SpikeGUI/data/'
recording = se.NeuralynxRecordingExtractor('~/PycharmProjects/SpikeGUI/data/')

When I do, I get the following error:

Backend MacOSX is interactive backend. Turn

[2020-06-21 16:36] alejoe91 commented on #414
@samuelgarcia missing seg_index and block_index?

[2020-06-22 06:37] samuelgarcia commented on #414
Hi,
the syntax is
`rec = se.NeuralynxRecordingExtractor(dirname='/path/to/my/neuralynx/folder')`
and if you have a multi segment file you must specify which segment youwant to read
`rec = se.NeuralynxRecordingExtractor(dirname='/path/to/neuralynx_folder', seg_index=0)`

note that there is no args bu only kwargs mapped to neo rawio.
If you want to known how many segments:
[code]

[2020-06-22 14:42] ohnopleasehelpme commented on #414
I have the neuralynx dataset in that folder as a .ncs filetype, for example, "CSC1.ncs" too - do I have to convert it into a different format?

[2020-06-22 15:20] samuelgarcia commented on #414
No. ncs is the natural neuralynx format.
But neuralynx is not one only file but a bunch of file regrouped in a folder.
You need to provide the folder that contain thoses files with  `dirname=...`

[2020-06-22 16:19] ohnopleasehelpme commented on #414
I see. Is there a guide somewhere (through spikeinterface, tutorials etc) where all the input variables are explained?
For example, what does seg_index do? I set seg_index=0 for now but when i change it to a larger number, I see more of the trace.

[2020-06-22 16:40] alejoe91 commented on #414
The NeuraLynxExtractors use `neo` as backend. There's plenty of documentation on the concepts of segments and blocks here: http://neuralensemble.org/neo/

[2020-06-24 16:25] #411 closed

[2020-06-25 18:19] ohnopleasehelpme commented on #414
So another issue - when I add the following sorter variable to the se.NerualynxRecordingExtractor function:

rec, sorting = se.NeuralynxRecordingExtractor(dirname='~/PycharmProjects/SpikeGUI/data', seg_index=10)

I get the error:

Traceback (most recent call last):
  File "~/opt/miniconda3/envs/SpikeGUI/lib/python3.7/site-packages/IPython/core/interactiveshell.py", line 3331, in run_code
    exec(

[2020-06-25 18:22] alejoe91 commented on #414
Hi,

The RecordingExtractor (like the one you use) only returns a recording, not a sorting. The toy example is a function that generates both a recording and a sorting, so it's something else :)

You should use:
`rec = se.NeuralynxRecordingExtractor(dirname='~/PycharmProjects/SpikeGUI/data', seg_index=10)
`

[2020-06-25 18:25] ohnopleasehelpme commented on #414
So I just have to use the
rec = se.NeuralynxRecordingExtractor(dirname='~/PycharmProjects/SpikeGUI/data', seg_index=10)

to extract and sorting function to sort?

[2020-06-25 18:28] alejoe91 commented on #414
Exactly. You load the recording and then sort it to obtain the sorting. In fact I guess your dataset doesn't have spike sorted information. Check out the tutorial for more information: https://spikeinterface.readthedocs.io/en/latest/getting_started/plot_getting_started.html
You can see that the `sorting_true` is not used (until the end).

[2020-06-25 18:29] samuelgarcia commented on #414
I think you want:
`sorting = se.NeuralynxSortingExtractor(dirname='~/PycharmProjects/SpikeGUI/data', seg_index=10)`

[2020-06-25 18:33] ohnopleasehelpme commented on #414
Ahh ok, thank you again!! It worked :)

[2020-06-25 20:39] #414 closed

[2020-06-25 21:50] ohnopleasehelpme commented on #414
The sorter works, but the raster plot does not:

sorted = se.NeuralynxSortingExtractor(dirname='~/PycharmProjects/SpikeGUI/data', seg_index=0)
w_rs = sw.plot_rasters(sorted)

ERROR:

 self.ax.set_xlim(visible_start_frame, visible_end_frame)
Exception ignored in: <function SortingExtractor.__del__ at 0x10b4b60e0>
Traceback (most recent call last):
  File "~/opt/miniconda3/envs/SpikeGUI/lib/python3.

[2020-06-25 22:09] ohnopleasehelpme commented on #414
And it opens a blank plot for the raster plot

[2020-06-26 00:39] ohnopleasehelpme opened #419 "A little more clarification with Neuralynx SpikeInterface"
**Here is my code:**
import spikeinterface.extractors as se
import spikeinterface.toolkit as st
import spikeinterface.sorters as ss
import spikeinterface.comparison as sc
import spikeinterface.widgets as sw
import matplotlib.pylab as plt
import numpy as np

rec = se.NeuralynxRecordingExtractor(dirname='~/PycharmProjects/SpikeGUI/data', seg_index=0)
spikes = se.NeuralynxSortingExtractor(dirname='~/

[2020-06-26 06:32] alejoe91 commented on #419
You don't have the spikes variable, so it's no supposed to work. You only have the rec object.

The raster plot will work after running spikesprting. You can check out this video tutorial as well: https://youtu.be/nWJGwFB7oII

You can see the inputs/outputs for all funcrions here: https://spikeinterface.readthedocs.io/en/latest/api.html

[2020-06-26 07:09] alejoe91 commented on #414
Do you have units?

`print(sorted.get_unit_ids())`

[2020-06-26 09:47] alejoe91 commented on #419
@ohnopleasehelpme sorry I didn't read the code well. Can you you use the `code` style?

Do you actually have units? what is the output of: `print(len(spikes.get_unit_ids()))`

[2020-06-26 14:16] ohnopleasehelpme commented on #419
Sorry about the bold font! I thought it would look different so no worries.

Apparently the length of the spike variable is 0 - but when I run the spike detection algorithm on matlab, for this data set I have about 47 spikes in the ~10 second sample trace.

Also, the time axis seems to be off, I guess I am confused about how the seg_index should be used (or what other input variable could be used

[2020-06-26 14:22] ohnopleasehelpme commented on #419
And btw, the video is really well done and really helpful!

The jupyter notebook worked really well for me when I tried it a month ago. My source of confusion is stemming from what input variables are needed for the functions such as se.NeuralynxRecordingExtractor(input_1, input_2,.....input_n) or se.NeuralynxSortingExtractor(input_1, input_2,.....input_n)

[2020-06-26 14:32] alejoe91 commented on #419
@ohnopleasehelpme (btw really nice github name eheheh)

So I think that your Neuralynx data are NOT spike sorted, so the `NeuralynxSortingExtractor` has no units in it.

You should use spikeinterface to spike sort your data, so for now forget about the `NeuralynxSortingExtractor` and focus on the recording.

The `NeuralynxRecordingExtractor` take as input the `seg_index`, which is the segment numb

[2020-06-26 14:46] ohnopleasehelpme commented on #419
Ok sounds good, I will try the suggestions and let you know how it goes.

So as far as I understand, if I have a sample with 10000 points, then I have to concatenate multiple segments into a long, continuous trace? If my data set is from a single, continuous, 30 minute recording, do I still need to segment the trace?

How do I figure out nseg? Maybe using print(len(recording))?

Also, if the data

[2020-06-26 14:46] ohnopleasehelpme commented on #419
Probably would have been more professional to use my name like everyone else :)

[2020-06-26 15:11] alejoe91 commented on #419
I think you can find the number of segments using neo (@samuelgarcia). If you have a single long file you don't need the concatenation.

The sorting extractor does not perform spike sorting, but it loads spike sorted data. For spike sorting you can use the `run_sorter` function, as shown in the tutorials.

[2020-06-27 00:52] ohnopleasehelpme commented on #419
For the online tutorial, the extractor only needed the data set location and then worked without seg_index which can then be plotted easily:...

recording_folder = 'open-ephys-dataset/'
recording = se.OpenEphysRecordingExtractor(recording_folder)
w_ts = sw.plot_timeseries(recording, trange=[5, 10])

This is really nice and straightforward for openephys! What are there differences between neuralynx

[2020-06-27 00:59] ohnopleasehelpme commented on #419
Yes! How do I just extract a single long continuous trace instead of breaking it down segment by segment and then putting it back together? Using se.NeuralynxRecordingExtractor

[2020-06-28 21:36] ohnopleasehelpme commented on #419
Update: this is what I have for the spikeGUI project. I am able to get the output folder for MS4 and phy:

import spikeinterface.extractors as se
import spikeinterface.toolkit as st
import spikeinterface.sorters as ss
import spikeinterface.comparison as sc
import spikeinterface.widgets as sw
import matplotlib.pylab as plt
import numpy as np
import neo

reader = neo.NeuralynxIO(dirname='~/PycharmPr

[2020-06-28 21:47] alejoe91 commented on #419
The recording is sorted and you only got one unit from ms4. Phy needs at least 2 units, that's why it's throwing the error. You can try another sorter!
Everything seems to be running fine. Let me know if you have other issues or we can close this.

Ps. Can you use the code block when you paste code?

[2020-06-28 22:55] ohnopleasehelpme commented on #419
Using the insert code on the github widgets?

[2020-07-03 09:36] #419 closed

[2020-07-08 09:50] llobetv opened #422 "Cachesortingextractor, tmp folder"
Hi guys,
I encounter an issue link to Cachesortingextractor, I have a ridiculous small tmp directroy so it is often times full (particulary when I launch a lot of analysis...)
The issue is that Cachesortingextractor tmp directory use the default one, would it be possible to add a params or use tmp directory of the sorting object?

I you agree I make the modification myself.
Cheers,
Victor

[2020-07-08 10:09] samuelgarcia commented on #422
Hi.
There is already a params `save_path` to control this in Cachesortingextractor
https://github.com/SpikeInterface/spikeextractors/blob/f0d2653f6e55788150d0fcba4242aee5c75b8988/spikeextractors/cacheextractors.py#L103

maybe your problem is that you call a function that do not offer this save_path, no ?

[2020-07-08 12:12] llobetv commented on #422
Oh you are right I completly miss it...
Thanks!

[2020-07-08 12:12] #422 closed

[2020-07-08 12:48] alejoe91 commented on #422
The problem could also be that the tmp folder gets full for other reasons (e.g. waveforms).

Maybe we could add a spikeinterface function to change the TMP folder. On linux, you can do that by setting the `TMPDIR` variable.

From the terminal:
`export TMPDIR='path-to-new-tmp-dir'`

[2020-07-08 13:27] samuelgarcia commented on #422
Yes. Having a global tmp folder that could be set is a good ideaa.

[2020-07-08 16:39] alejoe91 opened #423 "Add function to change TMP folder path"
As mentioned here https://github.com/SpikeInterface/spikeextractors/issues/422 it would be nice to have a spikeextractors function to change the TMP folder location.

It could handle:
- different OS
- creating the folder if non existing

[2020-07-08 21:13] llobetv commented on #422
Isn't what sorting.set_tmp_folder() method already do?

[2020-07-08 21:14] alejoe91 commented on #422
That does it for one object only, but I think it would be nice to have the possibility to set the environment variable

[2020-07-13 10:56] Jyh-Jang opened #426 "MemoryError: Unable to allocate 257. GiB for an array with shape (383, 360105397) and data type int16`"
Dear,

I am reporting a problem of dealing with big data (257 GB), see below. Is there any alternative way to load this data with physical memory of 125 GB?

Thank you,
JJ

`Traceback (most recent call last):
  File "/export/lib/from_external_packages/bin/spike_interface_pipeline.py", line 235, in <module>
    recording = run_extractor()
  File "/export/lib/from_external_packages/bin/spike_interfa

[2020-07-13 12:28] alejoe91 commented on #426
Hi @Jyh-Jang

Can you paste the code that you are using?

[2020-07-13 13:05] Jyh-Jang commented on #426
Hi Alessio,

spike_interface_pipeline.py --binary_input_file /my/path1/18062020_alternationtask_day1_2_g0_t0.imec0.ap.bin --json_file /my/path2/Eric_day1_g0_imec0.json --out_dir /my/path3/ --sorter_name kilosort2 --extractor_type glx --pitch_for_glx 16 20 --use_preprocessing False --use_phy_export True

Tks, JJ

[2020-07-13 14:18] alejoe91 commented on #426
Hi JJ,

What is the content of spike_interface_pipeline.py?

[2020-07-13 19:09] mhhennig commented on #426
Is there perhaps not enough disk space?

[2020-07-13 19:14] alejoe91 commented on #426
Yes but it shouldn't be a problem as long as not all traces are retrieved at once!

[2020-07-13 19:16] mhhennig commented on #426
The problem occurs when the memmap array is created. Only reason I can see id that the disk is full.

[2020-07-14 07:32] gmaggi commented on #426
Hi @alejoe91 , I helped with the installation of spikeinterface in a machine that @Jyh-Jang is using.
The content of spike_interface_pipeline.py is:
1.-

[code]

2.-

[code]

The params are (@Jyh-Jang correct them please if those are wrong):

[code]

3.-

JJ also uses `st.postprocessing.export_to_phy` , but it seems that crash happens before that.

[2020-07-14 07:40] gmaggi commented on #426
The problem seems to be because an array of shape `(383, 360105397) and data type int16` (as posted in the error above by @Jyh-Jang ) can not be allocated. This would be expected as the `free` command shows the following:
[code]

Thus, it seems there is no space in memory. is it possible to split the array in chunks, or analyze a subset of data using the current spikeinterface?

[2020-07-14 07:46] alejoe91 commented on #426
Hi @gmaggi

Indeed the KS2 internally makes a binary copy of the data in chunks. However, when you call the `recording.write_recording()` it uses the SpikeGLX one, that has no chunking. Try to run:

[code]

You should not run into memory errors this way because chunking is applied internally :)

[2020-07-14 08:12] gmaggi commented on #426
Thanks Alejo!, we'll try and let you know.

[2020-07-15 20:59] #390 closed

[2020-07-16 08:30] gmaggi commented on #426
@alejoe91 , that works. Thanks again!. Feel free to close this ticket.

[2020-07-16 08:31] #426 closed

[2020-08-07 22:39] lfrank opened #433 "NWB file error"
I had thought this was fixed, but version 0.8.4 from a pip install still uses 'a' rather than 'r' to open NWB files, which causes problems if the file is open somewhere else.

Would it be possible to get a new release with that fixed?

[2020-08-08 09:15] pizzayamyam opened #434 "How can I combine multiple recording variables?"
I export MDA files from rnd file with MATLAB. During this step, memory error often occurs. Therefore, I export this recording data into two different mda files. At this point, I have a problem in extracting recordings. I want to sort two files simultaneously.
I tried to use 'run_sorters', however, there was some differences to set parameters between 'run_mountainsort4' and ' run_sorters'.
Please l

[2020-08-10 19:52] alejoe91 commented on #433
Hi @lfrank

Thanks for bringing this up. I guess this is because some properties (e.g. quality metrics) could be added by SpikeInterface. Maybe we could make 'r' default and optionally have 'a'. @bendichter what do you think?

[2020-08-10 20:59] bendichter commented on #433
@lfrank thanks for using the package and raising issues! The most recent version of spikeextractors is [0.8.4, released on May 13](https://pypi.org/project/spikeextractors/). It looks like there was one place where an 'a' should have been an 'r', and [Jeremy Magland fixed this on June 3](https://github.com/SpikeInterface/spikeextractors/commit/2573913157fd47459ff558f553b0bac8b2a45ec4). We just hav

[2020-08-11 06:57] alejoe91 commented on #433
I'll release all the packages including SpikeInterface this week!

[2020-08-19 15:15] bendichter commented on #405
depends on https://github.com/NeuralEnsemble/python-neo/issues/424

[2020-08-20 04:57] whitepine commented on #88
Hi there, I'm wondering if there's an example for each extractor as @magland  mentioned. I'm trying to get spikeinterface to read in an nwb file and am running into issues. Is nwb extractor in good working order? If so, an example of an nwb extractor working w/ spikeinterface would be great.

[2020-08-20 06:15] alexmorley opened #438 "Chunked File writing"
Suggestion: when writing / copying a file in chunks the filename could be `.{filename}.part` (and then renamed at the end) so that it's not possible to get a partially written file?

[2020-08-24 08:16] alejoe91 commented on #438
Hi @alexmorley

That's a good suggestion, thanks!

However, this might be problematic for some sorters that expect a single binary file to be processed (e.g. klusta, kilosort2). We need to investigate whether they support this chunked format. Alternatively, we could have an option to write to a single or multiple files.

Cheers
Alessio

[2020-08-24 08:18] alejoe91 commented on #88
Hi @jthermiz, is the problem fixed with the latest PR https://github.com/SpikeInterface/spikeextractors/pull/440?

[2020-08-24 12:27] alexmorley commented on #438
Sorry, badly phrased suggest. I still mean to write to a single file. Only that while the file is not yet complete it should have .part appended so that if there is an uncaught error you can't mistake the file for a complete one.

[2020-08-24 12:29] alejoe91 commented on #438
Ahhh! got it! ok that sounds good :)

Would you have time to make a PR? Otherwise I should be able to get to it over the next couple of weeks!

[2020-08-28 20:35] jthermiz commented on #88
@alejoe91  @mhhennig  It looks like the problem has been resolved perhaps thanks #440

[2020-08-29 22:45] bendichter commented on #433
@alejoe91 close?

[2020-08-29 22:46] bendichter opened #444 "in NeuroscopeRecordingExtractor, change soup to lxml"
lxml is a lighter requirement, and we can do this entirely with lxml, so let's not require the user to have BeautifulSoup installed if they don't need to

@CodyCBakerPhD

[2020-08-29 22:48] #433 closed

[2020-08-30 14:32] alejoe91 commented on #444
Done already! https://github.com/SpikeInterface/spikeextractors/pull/437

[2020-08-30 14:32] #444 closed

[2020-08-31 15:37] alejoe91 commented on #434
Hi @pizzayamyam

Sorry for the delay in replying to this!

Are thw two files chunks of the same file? In that case you can concatenate them before running sorting as follows:

[code]

Let me know if this is what you were asking for!

Cheers
Alessio

[2020-09-01 05:17] jthermiz opened #446 "Weird chunking issue"
I have a weird, elusive issue that I think is related to chunking for mda files.

I'm able to run my spike sorting script fine with 5 seconds worth of data, but when I extend it to past 10 minutes it breaks. For some reason, I only get this issue on a particular machine. That indicates an environment issue, so I installed a conda environment from a working one, but it still breaks. I doubt this is

[2020-09-01 06:25] alejoe91 commented on #446
Hi @jthermiz

I think I have seen this error before and the reason is that in order to use whiten you need filtering as well. I will add an assertion to check that! Can you test with whiten and filter True, or with withen=False.

A comment about the parallel arg. This is used when you have multiple groups to launch parallel jobs for each group (e.g. tetrodes). The num_workers arg is specific to ms

[2020-09-01 06:34] jthermiz commented on #446
Hi @alejoe91

Thanks for the quick response. Unfortunately, I tried all combinations of True / False for whiten and filter parameters and they all gave some version of the reshape error.

Thanks for that explanation!

-John

[2020-09-01 07:21] alejoe91 commented on #446
@jthermiz

I tried your code with simulated data saved to MDA of the same size (16 channels, over 700 s + sub extractor with first 700 seconds) and it ran with no issues.

Can you `pip install --upgrade spikeextractors spiketoolkit spikesorters spikecomparison spikeidgets`?

We just made a new release! https://github.com/SpikeInterface/spikeinterface/releases/tag/0.10.0

One last comment on the pa

[2020-09-24 19:55] jthermiz commented on #446
@alejoe91

Sorry for the delay in responding. I figured out the issue. The MDA file I tried to load was bad. I downloaded it from [Mendeley](https://data.mendeley.com/datasets/j2mfvnsz2t/1). The MDA should be 7GB, but Download All only downloads 448MB worth of data. When I just download the MDA, it correctly downloads all of the 7GB. When I pass that through, spikextractors things work as they sho

[2020-09-24 19:56] #446 closed

[2020-09-24 19:57] alejoe91 commented on #446
Good to hear that it's solved :)

[2020-09-30 16:13] llobetv opened #454 "CacheRecordingExtractor: write_to_binary_dat_format() got an unexpected keyword argument 'verbose'"
Hi,

When I do this I got an error:

[code]

It appear that CacheRecordingExtractor call l.29

[code]
when verbose is not a possible argument :
` write_to_binary_dat_format(self, save_path, time_axis=0, dtype=None, chunk_size=None, chunk_mb=500)`

Cheer,
Victor

[2020-10-01 09:40] alejoe91 commented on #454
Hi @llobetv

It is a possibel argument! https://github.com/SpikeInterface/spikeextractors/blob/master/spikeextractors/recordingextractor.py#L681

[2020-10-01 09:48] llobetv commented on #454
Not here: https://github.com/SpikeInterface/spikeextractors/blob/e589505bf0908352d1a16c506146acffe94117b0/spikeextractors/extractors/mdaextractors/mdaextractors.py#L58

This code:

[code]

Give me:

[2020-10-01 10:01] alejoe91 commented on #454
I see! I'll that's specific to mda. I'll fix it 🙂 thanks for catching it

[2020-10-01 11:17] alejoe91 commented on #454
fixed https://github.com/SpikeInterface/spikeextractors/pull/455

[2020-10-01 11:17] #454 closed

[2020-10-04 04:28] AamnaLawrence opened #458 "PlexonRecordingExtractor"
Hi!

I am trying to load a recording from plexon file. I am doing the following:

import spikeinterface.extractors as se
se.PlexonRecordingExtractor(filename=filepath)

I get the following assertion error: Signal units no volts compatible

Any help would be appreciated!!

[2020-10-13 07:00] alexmaehon opened #464 "Questions about BinDatRecordingExtractor data format and its .prb file acoordination"
I turn Plexon .pl2 file into (channel, timeseries) type 'int16' binary .dat file, while success uesing BinDatRecordingExtractor(recording, sample_frequence=40000, numchan=256, dtpye='int16'), everything works fine untill run_sorters, most sorter fail.

Meanwhile, running tutorial data and example in spiketutorial this September file works fine, everything goes well.

The only difference is BinDatR

[2020-10-13 07:04] alexmaehon commented on #464
[ipynb_file.zip](https://github.com/SpikeInterface/spikeextractors/files/5369532/ipynb_file.zip)

[2020-10-13 07:05] alexmaehon commented on #464
This is  .ipynb file I use to run two scripts with only data and extractor difference.
(also .prb file)

[2020-10-13 07:38] alejoe91 commented on #464
Hi @alexmaehon

Thanks for asking!

Note that you can load the plexon data directly into SpikeInterface with the `PlexonRecordingExtractor` :)

From the output of your notebook, it seems that almost all sorters fail on the Pleson dataset. In particular, looking at KS2 output, it doesn't seem to find enough spikes. Do you see a lot of spiking activity in your original data? Maybe you could try anot

[2020-10-13 08:37] alexmaehon commented on #464
Thanks for your quick response.
I tried PlexonRecordingExtractor once, it did not work.

I find that neoExtractor document says only works for old Plexon format .plx, and I try to turn .pl2 file into .plx using PlexUtil, and use PlexonRecordingExtractor to extract file:
"
Exception ignored in: <function BaseExtractor.__del__ at 0x0000024F8670ED38>
Traceback (most recent call last):
  File "...\spi

[2020-10-13 08:41] alexmaehon commented on #464
I just wondering what extra information needed to accompany with .dat file (channel, time-series)

[2020-10-13 08:57] alexmaehon commented on #464
Thanks for your quick response.
I tried PlexonRecordingExtractor once, it did not work.

I find that neoExtractor document says only works for old Plexon format .plx, and I try to turn .pl2 file into .plx using PlexUtil, and use PlexonRecordingExtractor to extract file:

""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""
Exception ignored in: <function BaseExtractor.del at 0x0000024F86

[2020-10-13 09:51] alejoe91 commented on #464
The information needed by the `BinDatRecordingExtractor` are:
- `numchan`
- `sampling_frequency`
- `dtype`

You can check how the signals look with the `plot_timeseries` and `plot_spectrum` (I see that you have it already). The data look correctly loaded to me so I really think that the issue is a lack of spikes

[2020-10-13 12:27] samuelgarcia commented on #464
The signature of PlexonRecordingExtractor is
```PlexonRecordingExtractor(filename='myfilename.plx')```
could you try it ?

[2020-10-13 12:29] alejoe91 commented on #464
@samuelgarcia it's a `.pl2` file, not supported bu neo. Or is it supported now?

[2020-10-13 12:31] samuelgarcia commented on #464
I think it is not, I need to check.

[2020-10-21 09:27] gmaggi opened #475 "concatenate multiple recording files"
Hi,

Is there any facility in spikeinterface to concatenate multiple recording files? thus, the concatenated output file is the one that would be actually passed to a sorter.
I see this doc: https://djoshea.github.io/neuropixel-utils/imec_dataset/#concatenating-multiple-files-together and I wonder if something like this is already integrated.

Thanks,
Giuliano.

[2020-10-21 09:32] alejoe91 commented on #475
Hi @gmaggi

Of course! :)

If you have a list of recordings `rec_list`, you can just run:

`multirec = se.MultiRecordingTimeExtractor(rec_list)`

The output `multirec` is also a `RecordingExtractor`, so you can directly sort it.

Cheers
Alessio

[2020-10-21 09:58] gmaggi commented on #475
Thank you @alejoe91 ,

Another question, how could one handle x_pitch and y_pitch (for glx) using `se.MultiRecordingTimeExtractor(rec_list)`  ?Currently for a single file we do it as `se.SpikeGLXRecordingExtractor(input_file, x_pitch, y_pitch)` .

-Giuliano.

[2020-10-21 10:16] alejoe91 commented on #475
Hi @gmaggi

Also x_pitch and y_pitch do not need to be passed to the constructor, as they are by default correct for the Neuropixels probe and locations are read correctly.

Of course concatenation assumes that all locations are the same (you used the same configuration for all recordings).

So what you would do is the following:

[code]

Let me know if you run into issues!